
@{
    ViewBag.Title = "ListOutstanding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">ListOutstanding</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">List Outstanding</h4>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>No CAPA</th>
                                        <th>Status</th>
                                        <th>Nama Requestor</th>
                                        <th>Nama PIC CAPA</th>
                                        <th>Kategori CAPA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><button class="btn btn-primary">Select</button></td>
                                        <td>CPA/QXX/AAA/BB/CCDD/EEE</td>
                                        <td>OPEN</td>
                                        <td>Arya Saloka</td>
                                        <td>Tri Pamulatsih</td>
                                        <td>Kualitas produk</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
</div>
