
@{
    ViewBag.Title = "PelaksanaCAPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Pelaksana CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Pelaksana CAPA</h4>
                        <form>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Tanggal</label>
                                    <input type="text" id="date-format" class="form-control form-control-sm" value="@DateTime.Today.ToShortDateString()" readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Atasan Pelaksana</label>
                                    <input class="form-control form-control-sm" type="text" id="TxtRequestor" readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-20">Nomor CAPA</label>
                                    <input class="form-control form-control-sm" type="text" id="TxtNoCAPA" readonly>
                                </div>
                                <div class="form-group mb-2 col-sm-3">
                                    <label class="m-t-40">Departemen</label>
                                    <input class="form-control form-control-sm" type="text" id="TxtDepartemen" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group mb-2 col-sm-3">
                                    <button class="btn btn-dark" id="btnViewCAPA" >View CAPA</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--<div class="card">
                <div class="card-body">
                    <h4 class="card-title">Potential Root Cause Analysis</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Aspect</th>
                                    <th>WHAT ACTUALLY HAPPENED</th>
                                    <th>WHY</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="Tbl_PRCA">
                                <tr>-->
                @*<td>Manusia</td>
                    <td><input type="text" class="form-control form-control-sm" style="width:100%;" readonly></td>
                    <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                    <th><button class="form-control-sm">Add</button></th>*@
                <!--</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Perbaikan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPerbaikan" disabled></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="dueDate" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <label class="m-t-40">Superior</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-40">Hasil tindakan perbaikan yang Sudah Dilakukan</label>
                                        <div class="input-group mb-3">
                                            <textarea type="text" class="form-control" placeholder="Tindakan Perbaikan"></textarea>
                                        </div>                                       
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-40" style="visibility:hidden">Hasil tindakan perbaikan yang Sudah Dilakukan</label>
                                        <div class="input-group mb-3">
                                            <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                            <div class="dropdown-menu" style="width:auto">
                                                <a class="dropdown-item" href="#">Ubah Tindakan Perbaikan</a>
                                                <a class="dropdown-item" href="#">Cancel Tindakan Perbaikan</a>
                                                <a class="dropdown-item" href="#">Tambah Tindakan Perbaikan</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-20">Upload Bukti Tindakan Perbaikan</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <label class="custom-file-label">Choose file</label>
                                                <input type="file" class="custom-file-input">
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn-dark input-group-text center" type="button">Add<span style="visibility:hidden">..</span><i class="fa fa-plus color-success"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama File</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>File.pdf</td>
                                                <td>File.jpg</td>
                                                <td><button class="btn-dark input-group-text center" type="button"><i class="fa fa-download"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>File.docx</td>
                                                <td>File.xlxs</td>
                                                <td><button class="btn-dark input-group-text center" type="button"><i class="fa fa-download"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Pencegahan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="date-format" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-40">Pelaksana Tindakan Pencegahan</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                        <label class="m-t-40">Superior</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="text-align: center">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-40">Hasil tindakan pencegahan yang Sudah Dilakukan</label>
                                        <div class="input-group mb-3">
                                            <textarea type="text" class="form-control" placeholder="Tindakan Perbaikan"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-40" style="visibility:hidden">Hasil tindakan perbaikan yang Sudah Dilakukan</label>
                                        <div class="input-group mb-3">
                                            <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                            <div class="dropdown-menu" style="width:auto">
                                                <a class="dropdown-item" href="#">Ubah Tindakan Pencegahan</a>
                                                <a class="dropdown-item" href="#">Cancel Tindakan Pencegahan</a>
                                                <a class="dropdown-item" href="#">Tambah Tindakan Pencegahan</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-20">Upload Bukti Tindakan Pencegahan</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <label class="custom-file-label">Choose file</label>
                                                <input type="file" class="custom-file-input">
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn-dark input-group-text center" type="button">Add<span style="visibility:hidden">..</span><i class="fa fa-plus color-success"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama File</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>File.pdf</td>
                                                <td>File.jpg</td>
                                                <td><button class="btn-dark input-group-text center" type="button"><i class="fa fa-download"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>File.docx</td>
                                                <td>File.xlxs</td>
                                                <td><button class="btn-dark input-group-text center" type="button"><i class="fa fa-download"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="Div_Pencegahan" hidden>
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Root Cause</label>
                                        <textarea type="text" class="form-control" placeholder="create otomatis Why terakhir dari halaman PIC CAPA Page 1"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="date-format" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="text-align: center">
                                        <label class="m-t-40" style="visibility:hidden">_</label>
                                        <div class="input-group mb-3">
                                            <button type="button" class="btn mb-1 btn-primary ">Add</button>
                                            <button type="button" class="btn mb-1 btn-primary ">Browse</button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="m-t-40">Nama Personil</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="m-t-40">Alamat Email</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kajian Resiko</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Hasil Treatment Plan Kajian Resiko</label>
                                        <textarea type="text" class="form-control" placeholder="create otomatis Why terakhir dari halaman PIC CAPA Page 1"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">PIC</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Upload Bukti Tindakan Pencegahan</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <label class="custom-file-label">Choose file</label>
                                                <input type="file" class="custom-file-input">
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn-dark input-group-text center" type="button">Add<span style="visibility:hidden">..</span><i class="fa fa-plus color-success"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama File</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>File.pdf</td>
                                                <td>File.jpg</td>
                                                <td><button class="btn-dark input-group-text center" type="button"><i class="fa fa-download"></i></button></td>
                                            </tr>
                                            <tr>
                                                <td>File.docx</td>
                                                <td>File.xlxs</td>
                                                <td><button class="btn-dark input-group-text center" type="button"><i class="fa fa-download"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
</div>


<script>
    var noCAPA = getQueryStrings()["NoCAPA"];
    //function untuk ambil semua query string
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function () {
        $('#TxtDepartemen').val('@Request.RequestContext.HttpContext.Session["Departemen"]');
        $('#TxtRequestor').val('@Request.RequestContext.HttpContext.Session["SuperiorName"]');
        $('#TxtNoCAPA').val(noCAPA);
        var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
        FindPerbaikan(noCAPA, nik);
    });

    function FindPerbaikan(nomorCAPA, nik) {
        var dto = {
            Kategori: "Perbaikan",
            NomorCAPA: nomorCAPA,
            NIK: nik,
        }
        $.ajax({
            url: "FindCAPADetail",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
                var result = JSON.parse(data);
                $('#txtTindakanPerbaikan').val(result[0].Tindakan_Perbaikan);
                
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    $('#btnViewCAPA').click(function () {
        window.open("/PIC/FormCAPA?CAPA=" + noCAPA);
    });
</script>
