
@{
    ViewBag.Title = "TambahTindakan";
}



<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>

<div class="content-body">
    <!--Modal-->
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Pelaksana CAPA</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <label class="m-t-40">--Please Select--<span style="color: red">*</span></label>
                        <div class="radio input-group">
                            <div class="col-sm-3">
                                <label><input type="radio" value="Yes" name="TambahPerbaikan">&nbsp;&nbsp;Tambah Perbaikan Baru</label>
                            </div>
                            <div class="col-sm-3">
                                <label><input type="radio" value="No" name="TambahPerbaikan" checked>&nbsp;&nbsp;Tambah Pencegahan Existing</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" id="Div_TindakanPerbaikan" hidden>
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Perbaikan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Root Cause</label>
                                        <select id="RootCause_DDL" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="TxtDeskripsiPerbaikan"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="duedate_perbaikan" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label for="DepartemenPerbaikan_DDL" class="col-form-label">Departemen</label>
                                        <div class="input-group">
                                            <select class="form-control" name="DepartemenPerbaikan_DDL" id="DepartemenPerbaikan_DDL">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" id="Div_VendorNamePerbaikan" hidden>
                                        <label for="VendorPerbaikan_DDL" class="col-form-label">Vendor</label>
                                        <div class="input-group">
                                            <select class="form-control" name="VendorPerbaikan_DDL" id="VendorPerbaikan_DDL">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="m-t-40">Nama Personil</label>
                                        <div class="input-group mb-3">
                                            <select class="form-control" name="NamaPersonilPerbaikan_DDL" id="NamaPersonilPerbaikan_DDL">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-40">Alamat Email</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="TxtEmailPerbaikan" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="m-t-40">Apakah ada proses / area lain yang berpotensi sama ?</label>
                                        <div class="radio input-group">
                                            <div class="col-sm-3">
                                                <label><input type="radio" value="Yes" name="Potensi">Ya</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label><input type="radio" value="No" name="Potensi" checked>Tidak</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label class="m-t-40" style="visibility: hidden">_</label>
                                        <div class="input-group">
                                            <button type="button" id="btn_AddPerbaikan" class="btn mb-1 btn-primary ">Tambahkan Tindakan Perbaikan</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="Div_TindakanPencegahan" hidden="hidden">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Area / Proses lain yang Berpotensi</label>
                                        <select id="AreaLain_DDL" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Pencegahan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" id="TxtDeskripsiPencegahan" placeholder="Deskripsi"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date</label>
                                        <input type="date" id="duedate_pencegahan" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label for="DepartemenPencegahan_DDL" class="col-form-label">Departemen</label>
                                        <div class="input-group">
                                            <select class="form-control" name="DepartemenPencegahan_DDL" id="DepartemenPencegahan_DDL">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" id="Div_VendorNamePencegahan" hidden>
                                        <label for="VendorPencegahan_DDL" class="col-form-label">Vendor</label>
                                        <div class="input-group">
                                            <select class="form-control" name="VendorPencegahan_DDL" id="VendorPencegahan_DDL">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="m-t-40">Nama Personil</label>
                                        <div class="input-group mb-3">
                                            <select class="form-control" name="NamaPersonilPencegahan_DDL" id="NamaPersonilPencegahan_DDL">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="m-t-40">Alamat Email</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="TxtEmailPencegahan" readonly>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label class="m-t-40" style="visibility: hidden">_</label>
                                        <div class="input-group">
                                            <button type="button" id="btn_AddPencegahan" class="btn mb-1 btn-primary ">Tambahkan Tindakan Pencegahan</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="PerbaikanExisting">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Perbaikan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Root Cause</label>
                                        <textarea type="text" class="form-control" id="txtRootCauseExisting" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPerbaikan"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date<span style="color: red">*</span></label>
                                        <input type="date" id="dueDatePerbaikan" class="form-control form-control-sm">
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>

                <div class="card" id="Div_Pencegahan">
                    <div class="card-body">
                        <h4 class="card-title">Penentuan Tindakan Pencegahan</h4>
                        <div class="table-responsive">
                            <form>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Area/Proses lain yang berpotensi</label>
                                        <textarea type="text" class="form-control" id="txtAreaBerpotensi" readonly></textarea>
                                    </div>
                                </div>
                                <div class="row form-group-sm">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Tindakan Pencegahan<span style="color: red">*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="txtTindakanPencegahan"></textarea>
                                    </div>
                                    <div class="form-group mb-2 col-sm-3">
                                        <label class="m-t-20">Due Date<span style="color: red">*</span></label>
                                        <input type="date" id="dueDatePencegahan" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </form>
                            <br />
                        </div>
                    </div>
                </div>
                @Html.Partial("KajianResikoPV")
                <button type="button" class="btn btn-primary" id="btnSimpan">Simpan</button>
                <br />
                <br />
                <button type="button" class="btn btn-primary" id="btnback">Back to previous page</button>
            </div>
        </div>
        <!-- #/ container -->
    </div>
</div>

<script>
    var noCAPA = getQueryStrings()["NoCAPA"];
    var referenceID = getQueryStrings()["ReferenceID"];
    var nik = '@Request.RequestContext.HttpContext.Session["NIK"]';
    var dataPerbaikan;
    var newDataPerbaikan;
    var newKajianResiko=[];
    var statRetrieve = 0;
    function getQueryStrings() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    $(document).ready(function () {
        @*$('#TxtDepartemen').val('@Request.RequestContext.HttpContext.Session["Departemen"]');
        $('#TxtNoCAPA').val(noCAPA);
        $('#TxtRequestor').val(superiorName);
        $('#txtPelaksanaPerbaikan').val(namaUser);
        $('#txtPelaksanaPencegahan').val(namaUser);
        $('#txtSuperiorPerbaikan').val(superiorName);
        $('#txtSuperiorPencegahan').val(superiorName);*@

        @*ReloadPage();
        ResetPage();*@

        retrieveData();
        retrieveData2();
        //$('#btn_AddPerbaikan').click(function () {
        //    statRetrieve++
        //    retrieveData();

        //});
        //$('#btn_AddPencegahan').click(function () {
        //    retrieveData2();
        //});
        getRootCause();
        getDDLDeptKajianResiko();
        populateKajian();
        $("#TxtPIC").val('Default');
        $('#RootCause_KajianResikoDDL').prop("disabled", true);
        $('#tblHeaderTindakan').prop("hidden", true);
        $('#btnback').click(function () {

            window.location.href = '../Pelaksana/PelaksanaCAPA';

        });
        $("input[name='TambahPerbaikan']").change(function () {
            var berpotensi = $('input[name="TambahPerbaikan"]:checked').val();
            if (berpotensi == "Yes") {
                $('#Div_TindakanPerbaikan').prop('hidden', false);
                $('#PerbaikanExisting').prop('hidden', true);
                $('#Div_Pencegahan').prop('hidden', true);
                $('#btnSimpan').prop('hidden', true);
            }
            else {
                $('#PerbaikanExisting').prop('hidden', false);
                $('#Div_Pencegahan').prop('hidden', false);
                $('#btnSimpan').prop('hidden', false);

                $('#Div_TindakanPerbaikan').prop('hidden', true);
                $('#Div_TindakanPencegahan').prop('hidden', true);
            }
        });

        $("input[name='Potensi']").change(function () {
            var berpotensi = $('input[name="Potensi"]:checked').val();
            if (berpotensi == "Yes") {
                $('#Div_TindakanPencegahan').prop('hidden', false);
            } else {
                $('#Div_TindakanPencegahan').prop('hidden', true);
            }
        });

        $("input[name='radioPotensi']").change(function () {
            var berpotensi = $('input[name="radioPotensi"]:checked').val();
            if (berpotensi == "Yes") {
                $('#Div_Pencegahan').prop('hidden', false);
            } else {
            }
        });

        $("#txtTindakanPerbaikan").on('keyup', function (event) {
            var perb = $("#txtTindakanPerbaikan").val();
            $("#txtAreaBerpotensi").val(perb);
            $('#RootCause_KajianResikoDDL').append('<option value="perbaikan" selected="selected">'+perb+'</option>');
        });

        $('#DepartemenPerbaikan_DDL').change(function () {
            $('#TxtEmailPerbaikan').val("");
            var kategori = 'Perbaikan';
            $('#Div_VendorNamePerbaikan').prop('hidden', true);

            var dept = $('#DepartemenPerbaikan_DDL').val();
            if (dept == "Others") {
                $('#Div_VendorNamePerbaikan').prop('hidden', false);
                $('#VendorPerbaikan_DDL').change(function () {
                    getPICKajianResiko(kategori);
                });
            }
            getPICKajianResiko(kategori);
        });

        function getDDLDeptKajianResiko() {
            $.ajax({
                url: 'DynamicController?spname=[dbo].[SP_SHOW_DDL]',
                type: 'post',
                data: JSON.stringify({
                    Model: {
                        Option: 14,
                        NO_CAPA: noCAPA
                    }
                }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#DepartemenPerbaikan_DDL').empty();
                    $('#DepartemenPencegahan_DDL').empty();

                    $('#DepartemenPerbaikan_DDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');

                    $('#DepartemenPencegahan_DDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                    $.each(JSON.parse(data), function (key, value) {
                        $('#DepartemenPerbaikan_DDL').append(new Option(value.DEPARTEMEN, value.DEPARTEMEN));
                        $('#DepartemenPencegahan_DDL').append(new Option(value.DEPARTEMEN, value.DEPARTEMEN));
                    });
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        }

        $('#DepartemenPencegahan_DDL').change(function () {
            $('#TxtEmailPencegahan').val("");
            var kategori = 'Pencegahan';
            $('#Div_VendorNamePencegahan').prop('hidden', true);

            var dept = $('#DepartemenPencegahan_DDL').val();
            if (dept == "Others") {
                $('#Div_VendorNamePencegahan').prop('hidden', false);
                $('#VendorPencegahan_DDL').change(function () {
                    getPICKajianResiko(kategori);
                });
            }
            getPICKajianResiko(kategori);
        });
    });
    function getVendorDDL() {
        $.ajax({
            url: 'DynamicController?spname=[dbo].[SP_SHOW_DDL]',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 16
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#VendorPerbaikan_DDL').empty();
                $('#VendorPencegahan_DDL').empty();
                $.each(JSON.parse(data), function (key, value) {
                    $('#VendorPerbaikan_DDL').append(new Option(value.vendor_name, value.vendor_id));
                    $('#VendorPencegahan_DDL').append(new Option(value.vendor_name, value.vendor_id));
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function getPICKajianResiko(kategori) {
        $('#TxtEmail' + kategori).val("");
        var vendor = $('#Vendor' + kategori + '_DDL').val();
        $.ajax({
            url: 'DynamicController?spname=[dbo].[SP_SHOW_DDL]',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    Option: 17,
                    Departemen: $('#Departemen' + kategori + '_DDL').val(),
                    VendorID: vendor,
                    NO_CAPA: noCAPA
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#NamaPersonil' + kategori + '_DDL').empty();
                $('#NamaPersonil' + kategori + '_DDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                $.each(JSON.parse(data), function (key, value) {
                    $('#NamaPersonil' + kategori + '_DDL').append(new Option(value.EmpName, value.EmpID));
                });

                $('#NamaPersonil' + kategori + '_DDL').change(function () {
                    $.each(JSON.parse(data), function (key, value) {
                        if ($('#NamaPersonil' + kategori + '_DDL').val() == value.EmpID) {
                            if (value.Email_1 == null)
                                $('#TxtEmail' + kategori).val(value.Email_2);
                            else
                                $('#TxtEmail' + kategori).val(value.Email_1);
                            return false;
                        }
                    });
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function KajianResikoDDL() {
        $.ajax({
            url: '../PIC/GetDataPIC',
            type: 'post',
            data: JSON.stringify({
                Option: 10,
                SP: "[dbo].[SP_FORM_CAPA]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                getDataTindakan(JSON.parse(data));
                $('#RootCause_KajianResikoDDL').empty();
                $.each(JSON.parse(data), function (key, value) {
                    $('#RootCause_KajianResikoDDL').append(new Option(value.WhyDesc, value.WhyDesc));
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function RemoveInputField(kategori) {
        $('#TxtDeskripsi' + kategori).val("");
        $('#duedate_' + kategori.toLowerCase()).val("");
        $('#Departemen' + kategori + '_DDL').val("-").trigger("change");
    }


    function retrieveData() {
        $.ajax({
            url: '../PIC/GetDataPIC',
            type: 'post',
            data: JSON.stringify({
                Option: 6,
                NO_CAPA: noCAPA,
                SP: "[dbo].[SP_FORM_CAPA]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (rootcause) {
                var countAdd = 0;
                $('#RootCause_DDL').empty();
                $('#RootCause_DDL').append(new Option("*Pilih*", ""));
                $.each(JSON.parse(rootcause), function (key, value) {
                    $('#RootCause_DDL').append(new Option(value.WhyDesc, value.WhyDesc));
                });
                console.log(JSON.parse(rootcause));

                $('#btn_AddPerbaikan').click(function () {
                    countAdd++;
                    if (countAdd > 1) {
                        return;
                    }
                    else {
                        var dto = {};
                        var kategori = "Perbaikan";
                        var obj = JSON.parse(rootcause);

                        $.each(obj, function (key, value) {
                            if (value.WhyDesc == $('#RootCause_DDL').val()) {
                                dto = {
                                    Option: 7,
                                    NO_CAPA: noCAPA,
                                    Aspect: value.Aspect,
                                    WhyID: value.WhyID,
                                    WhyParentID: value.ParentID,
                                    RootCause: value.WhyDesc,
                                    Tindakan: $('#TxtDeskripsiPerbaikan').val(),
                                    Pelaksana: $('#NamaPersonilPerbaikan_DDL').val(),
                                    Departemen: $('#DepartemenPerbaikan_DDL').val(),
                                    LineNumber: value.LineNumber,
                                    DueDate: $('#duedate_perbaikan').val(),
                                    NamaPersonil: $('#NamaPersonilPerbaikan_DDL option:selected').text(),
                                    Email: $('#TxtEmailPerbaikan').val(),
                                    Is_AreaLain: $('input[name="Potensi"]:checked').val(),
                                    Create_By: nik,
                                    SP: "[dbo].[SP_FORM_CAPA]"
                                }
                                return false;
                            }
                        });
                        addTindakan(dto, kategori);
                    }
                });

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function retrieveData2() {
        $.ajax({
            url: 'GetDataPIC',
            type: 'post',
            data: JSON.stringify({
                Option: 8,
                NO_CAPA: noCAPA,
                SP: "[dbo].[SP_FORM_CAPA]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (area_lain) {
                console.log(area_lain)
                var countAdd = 0;
                var data = JSON.parse(area_lain);
                if (data.length == 0) {
                    $('#Div_TindakanPencegahan').prop('hidden', true);
                } else {
                    $('#AreaLain_DDL').empty();
                    $('#AreaLain_DDL').append(new Option("*Pilih*", ""));
                    $.each(JSON.parse(area_lain), function (key, value) {
                        $('#AreaLain_DDL').append(new Option(value.Tindakan_Perbaikan, value.Tindakan_Perbaikan));
                    });

                    $('#btn_AddPencegahan').click(function () {
                        countAdd++;
                        if (countAdd > 1) {
                            return;
                        } else {
                            var dto = {};
                            var kategori = "Pencegahan";
                            var obj = JSON.parse(area_lain);
                            $.each(obj, function (key, value) {
                                if (value.Tindakan_Perbaikan == $('#AreaLain_DDL').val()) {
                                    dto = {
                                        Option: 9,
                                        NO_CAPA: noCAPA,
                                        Aspect: value.WAHType_FK,
                                        WhyID: value.WhyID,
                                        WhyParentID: value.WhyParentID,
                                        RootCause: value.Tindakan_Perbaikan,
                                        AreaLain: $('#TxtAreaLainPencegahan').val(),
                                        Tindakan: $('#TxtDeskripsiPencegahan').val(),
                                        Pelaksana: $('#NamaPersonilPencegahan_DDL').val(),
                                        Departemen: $('#DepartemenPencegahan_DDL').val(),
                                        LineNumber: value.LineNumber,
                                        DueDate: $('#duedate_pencegahan').val(),
                                        NamaPersonil: $('#NamaPersonilPencegahan_DDL option:selected').text(),
                                        Email: $('#TxtEmailPencegahan').val(),
                                        Create_By: nik,
                                        SP: "[dbo].[SP_FORM_CAPA]"
                                    }
                                    return false;
                                }
                            });
                            addTindakan(dto, kategori);
                        }

                    });
                }
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function getRootCause() {
        var dto = {
            Kategori: "Cari Perbaikan",
            RecordID:referenceID
        }
        $.ajax({
            url: "FindCAPADetail",
            type: "POST",
            async: false,
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                dataPerbaikan = result[0];
                var duedate = moment(dataPerbaikan.Due_Date);
                $('#txtRootCauseExisting').val(dataPerbaikan.WhyDesc);
                $('#txtTindakanPerbaikan').val(dataPerbaikan.Tindakan_Perbaikan);

                $('#txtTindakanPerbaikan').prop("disabled",true);
                $('#dueDatePerbaikan').val(duedate.format("YYYY-MM-DD"));

                $('#dueDatePerbaikan').prop("disabled", true);
                @*$('#txtAreaBerpotensi').val(dataPerbaikan.WhyDesc);*@

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function addTindakan(dto, kategori) {
        var valid = false;
        $.each(dto, function (key, value) {
            if (value == '' || value == '-' || value == null) {
                if (value == 0 || typeof value === "undefined")
                    valid = true;
                else
                    return valid = false;
            } else {
                valid = true;
            }
        });

        if (valid) {
            $.ajax({
                url: 'AddTindakan',
                type: 'post',
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',

                success: function (data) {
                    var status = JSON.parse(data);
                    if (status[0].Status_Inserted != 'Tindakan Perbaikan' || status[0].Status_Inserted != 'Tindakan Pencegahan') {
                        Swal.fire(
                            'Success',
                            status[0].Status_Inserted + ' berhasil di-input.',
                            'success'
                        ).then((result) => {
                            if (result.value) {
                                retrieveData();
                                retrieveData2();
                                KajianResikoDDL();
                                RemoveInputField(kategori);
                            }
                        });
                    }
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        } else {
            Swal.fire(
                'Maaf',
                'Input tidak boleh kosong.',
                'warning'
            )
        }
    }

    $('#Severity_DDL').change(function () {
        realtimeCalculation();
    });

    $('#Likelihood_DDL').change(function () {
        realtimeCalculation();
    });

    $('#Detectability_DDL').change(function () {
        realtimeCalculation();
    });

    $('#Severity2_DDL').change(function () {
        realtimeCalculation();
    });

    $('#Likelihood2_DDL').change(function () {
        realtimeCalculation();
    });

    $('#Detectability2_DDL').change(function () {
        realtimeCalculation();
    });

    function realtimeCalculation() {
        console.log('masok');
        var RPN = 0;
        var RPN2 = 0;
        var Severity = $('#Severity_DDL').val();
        var Detectability = $('#Detectability_DDL').val();
        var Likelihood = $('#Likelihood_DDL').val();
        var Severity2 = $('#Severity2_DDL').val();
        var Detectability2 = $('#Detectability2_DDL').val();
        var Likelihood2 = $('#Likelihood2_DDL').val();

        if (!isNaN(Severity) && !isNaN(Detectability) && !isNaN(Likelihood)) {
            RPN = Severity * Likelihood * Detectability;
            $('#TxtRiskLevel').val(riskCalculation(RPN));
        }

        if (!isNaN(Severity2) && !isNaN(Detectability2) && !isNaN(Likelihood2)) {
            RPN2 = Severity2 * Likelihood2 * Detectability2;
            $('#TxtRiskLevel2').val(riskCalculation(RPN2));
        }

        $('#TxtRPN').val(RPN);
        $('#TxtRPN2').val(RPN2);
    }

    function riskCalculation(RPN) {
        if (RPN <= 35)
            return "Low";
        else if (RPN > 35 && RPN <= 80)
            return "Medium";
        else if (RPN > 80 && RPN <= 140)
            return "High";
        else
            return "Very High";
    }

    $('#btn_KajianResiko').click(function (e) {
        var kajianModel = {
            Model: {
                NO_CAPA: noCAPA,
                Tindakan: $('#RootCause_KajianResikoDDL').val(),
                P_Kegagalan: $('#TxtPotensiKegagalan').val(),
                Spek: $('#TxtSpesifikasi').val(),
                Dampak: $('#TxtDampak').val(),
                Severity: $('#Severity_DDL').val(),
                Penyebab: $('#TxtPenyebabPotensial').val(),
                M_Penyebab: $('#TxtMPenyebabPotensial').val(),
                Likelihood: $('#Likelihood_DDL').val(),
                M_PKegagalan_LMD: $('#TxtMPotensi_KLMD').val(),
                Detectability: $('#Detectability_DDL').val(),
                RPN: $('#TxtRPN').val(),
                RiskLevel: $('#TxtRiskLevel').val(),
                Target: $('#Target_DDL').val(),
                M_PKegagalan: $('#TxtMPotensi_K').val(),
                Severity2: $('#Severity2_DDL').val(),
                P_MPenyebab: $('#TxtMPenyebab_P').val(),
                Likelihood2: $('#Likelihood2_DDL').val(),
                P_MDPKegagalan: $('#TxtDPotensi_K').val(),
                Detectability2: $('#Detectability2_DDL').val(),
                RPN2: $('#TxtRPN2').val(),
                RiskLevel2: $('#TxtRiskLevel2').val(),
                PIC: $('#TxtPIC').val(),
                DueDate: $('#DueDate_Kajian').val(),
                Lainnya: $('#TxtLainnya').val(),
                Tipe: 'Perbaikan',
                EmpID: nik
            }
        };
        var valid = true;
        console.log('kajianModel.Model');
        console.log(kajianModel.Model);
        $.each(kajianModel.Model, function (key, value) {
            if (value == '') {
                if (value == 0)
                    return valid = true;
                else
                    return valid = false;
            } else {
                valid = true;
            }
        });
        if (valid) {
            cleanModalFields();
            newKajianResiko.push(kajianModel);
            populateKajian();
            alert("Kajian risiko berhasil ditambahkan");

        } else {
            swal('Semua field wajib terisi', {
                icon: "warning",
                buttons: false,
                timer: 1000,
            });
        }
    })

    function cleanModalFields() {
        $("#KajianResikoModal :input").val("");
        $("#TxtPIC").val('Default');
        $("#Severity_DDL").val("1");
        $("#Likelihood_DDL").val("1");
        $("#Detectability_DDL").val("1");
        $("#Target_DDL").val("Low");
        $("#Severity2_DDL").val("1");
        $("#Likelihood2_DDL").val("1");
        $("#Detectability2_DDL").val("1");
    }

    function populateKajian() {
        $('#Tbl_KajianResiko').prop("disabled", true);
        console.log(newKajianResiko.length);
        if (newKajianResiko.length > 0) {
            $('#Tbl_KajianResiko').DataTable({
                "pageLength": 5,
                "lengthChange": true,
                "searching": false,
                "data": newKajianResiko,
                "select": true,
                "bDestroy": true,
                "scrollCollapse": true,
                "columns": [
                    { "data": "Model.P_Kegagalan" },
                    { "data": "Model.Spek" },
                    { "data": "Model.Dampak" },
                    { "data": "Model.Severity" },
                    { "data": "Model.Penyebab" },
                    { "data": "Model.M_Penyebab" },
                    { "data": "Model.Likelihood" },
                    { "data": "Model.M_PKegagalan_LMD" },
                    { "data": "Model.Detectability" },
                    { "data": "Model.RPN" },
                    {
                        "data": "Model.RiskLevel",
                        "className": "riskLevel"
                    },
                    { "data": "Model.Target" },
                    { "data": "Model.M_PKegagalan" },
                    { "data": "Model.Severity2" },
                    { "data": "Model.P_MPenyebab" },
                    { "data": "Model.Likelihood2" },
                    { "data": "Model.P_MDPKegagalan" },
                    { "data": "Model.Detectability2" },
                    { "data": "Model.RPN2" },
                    {
                        "data": "Model.RiskLevel2",
                        "className": "riskLevel2"
                    },
                    { "data": "Model.PIC" },
                    { "data": "Model.DueDate" },
                    { "data": "Model.Lainnya" },
                    {
                        "data": null,
                        "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete' onchange=''>Delete</button> "
                    },
                ],
                @*"columnDefs": [
                    {
                        "targets": 0,
                        "visible": false
                    },
                    {
                        "targets": 1,
                        "visible": false
                    }

                ],*@
                "order": [[1, 'asc']],
                "rowCallback": function (row, data) {
                    ColoredColumns(row, data.RiskLevel, "riskLevel");
                    ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                }
            });
        } else {

        }
    }

    $('#btnSimpan').click(function (e) {
        var isAreaLain = $('input[name="radioPotensi"]:checked').val();
        var adaPencegahan = 0;
        if (isAreaLain == 'Yes') {
            adaPencegahan = 1;
        }
        var referenceID = getQueryStrings()["ReferenceID"];
        referenceID = referenceID.replace('#', '');

        newDataPerbaikan = {
            TindakanPerbaikan: $('#txtTindakanPerbaikan').val(),
            DueDatePerbaikan: $('#dueDatePerbaikan').val(),
            TindakanPencegahan: $('#txtTindakanPencegahan').val(),
            DueDatePencegahan: $('#dueDatePencegahan').val(),
            IsAreaLain: adaPencegahan,
            KajianResikoList: newKajianResiko,
            PerbaikanID: referenceID,
            Updater: nik
        }
        console.log(newDataPerbaikan);
        $.ajax({
            url: "SimpanPerbaikanBaru",
            type: "POST",
            data: JSON.stringify(newDataPerbaikan),
            contentType: "application/json",
            dataType: 'json',
            success: function (data) {
                alert("Penambahan berhasil disimpan");

                ReloadPage();
            },
            error: function (xhr, error, status) {
                console.log(error, status);
            }
        });

        @*var modePerbaikan = $("#modePerbaikan").val();
        var idPerbaikan = $('#ddlPerbaikan').val();
        var tindakanPerbaikan = $('#txtTindakanPerbaikan').val();
        var dueDate = $('#dueDatePerbaikan').val();
        var hasilPerbaikan = $('#txtHasilPerbaikan').val();
        var attachmentPerbaikan = $("#uploadAttachmentPerbaikan").val();
        var pelaksanaID = getQueryStrings()["PelaksanaID"];
        var status = "Pending Review Koordinator";
        var kategori = "Perbaikan";

        pelaksanaID = pelaksanaID.replace('#', '');
        idPerbaikan = parseInt(idPerbaikan);
        var formData = new FormData();
        formData.append("Hasil", hasilPerbaikan);
        formData.append("TindakanID", idPerbaikan);
        formData.append("Updater", pelaksanaID);
        formData.append("NomorCAPA", noCAPA);
        formData.append("Tindakan", tindakanPerbaikan);
        formData.append("DueDate", dueDate);

        $.ajax({
            url: "SimpanHasilPelaksanaan",
            type: "POST",
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            async: false,
            success: function (data) {
                swal("Data perbaikan berhasil diupdate!", {
                    icon: "success",
                    buttons: false,
                    timer: 1000,
                });
                ReloadPage();
            },
            error: function (xhr, error, status) {
                console.log(error, status);
            }
        });*@
    });
</script>