<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<!--<add name="CAPAONLINE" connectionString="Data Source=10.100.19.52; Initial Catalog=B7_CAPA_ONLINE;user id=sab7; password=Welcome123;" providerName="System.Data.SqlClient" />-->
		<add name="CAPAONLINE" connectionString="Data Source=10.101.3.114; Initial Catalog=B7_CAPA_ONLINE;user id=sab7; password=sqlb7;" providerName="System.Data.SqlClient" />
		<add name="MASTERVENDOR" connectionString="Data Source=10.101.3.114; Initial Catalog=B7_MASTER_VENDORS;user id=sab7; password=sqlb7;" providerName="System.Data.SqlClient" />
		<add name="B7CONNECT" connectionString="Data Source=10.101.3.114; Initial Catalog=DocumentBank;user id=sab7; password=sqlb7;" providerName="System.Data.SqlClient" />
		<add name="B7PortalDB" connectionString="Data Source=10.101.3.114;initial catalog=Intranet_Portal;user id=sab7;password=sqlb7;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		
		<httpRuntime targetFramework="4.5" maxRequestLength="10485760" />
	<httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers></system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; 
             font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; 
             script-src 'unsafe-inline' 
             'nonce-7Q494Jc3m-VL6ehJHAa20vJNekFmP79siQ' 
             'nonce-YzB-RjQFJ06RJ3e9uFZFmt2ABkbKV2HXmA' 
             'nonce-wCi0c_gV2k70GVVyi6cO3WgZe9HEf-qA2A' 
             'nonce-SMVIct8xH431ltlU_rDq7KlCvE2ajvXaNw' 
             'nonce-M6GM2jZ5MEktHYYTpO1wP7roqwdKleyzcg' 
             'nonce-H-IrJirWB4TcOrr_gDTVqX78cROtPpRn9A' 
             'nonce-ZUQfnlri6Lb-ITU_0hS8pZLbmwNfRlCfog' 
             'nonce-iSBadu_gmMIhAUmFHAjvB-wDx4OtVf67WQ' 
             'nonce-1VRndJDnNO_qcjqrm4J_fpzGSRly6flAtQ' 
             'nonce-SkJ1gSfDnyDAgusDT9Xamo0Akx0tAWPycA' 
             'nonce-KJqHe5SEF1ngDWFxH83iPrL55cUKb-zKlA' 
             'nonce-cCKeOS_-qtj1CYOZQ8xb-yyqZPTbFUq0Cg' 
             'nonce-Kn-4J-nIjHMkYkI9owv6DjmrmbZba2pRNA' 
             'nonce-oIrdJg39zFk4p0-jXySXPB-KSOXTinCxBQ' 
             'nonce-xrlc_hIxQ1bJkV2tXzl0fNnE5a_jWbie8Q' 
             'nonce-sEPEl_QC-JMJ-VwCITEZXe-tc3UohPw-Vw' 
             'nonce-5130hY68Jo4GOf3Hb9ZoLu4HxNtG7_sZtg' 
             'nonce-6MAFqHzdMGHaDhBLOZDL0iq6BlkqqWMCdA' 
             'nonce-tl9mjRfZCDBPcQWBGVIAZJrbuKUP_0lxig' 
             'nonce-w2Om-lpB1zCBO8bxLlOJITCQ-H5WQW5fDw' 
             'nonce-cy-RKYG06jsJura0ybOoM9S5jI29Bx2O6Q' 
             'nonce-D1w6469cP7Xo2JFgrko2-MQ3GwQIXl7nNw' 
             'nonce-iboBItrVNpjzqjVU3Ia7eD2J-MTcpoaCLA' 
             'nonce-6tifFIYm9TVT0lV7F_M-4iG6kTSnID4rOw' 
             'nonce-yrMyQo2dKPHb34BRY04Kep9JjCk6z6tinA' 
             'nonce-x12dvgz95pfrQ15M_lT1ByFT8hGQ04QrXw' 
             'nonce-iNgxxdkiZVvIjK00HxWQRFPpcJLSuDG6NQ' 
             'nonce-p3VFpE7eTv-4FJgxFwOEMEG8C-ZkP8uJgA' 
             'nonce-J9eeIi2tRvTV9ngrsG7XNGSiIspsduwQXQ' 
             'nonce-tS00lmpKQtlwDeqN-jC-ztC8Uy70_EdTOw'
             'nonce-d2Tg08SWFAEga1gSVNxD6A7aSr4DkNgDgg'
             'nonce-eXTDRgBau5yNXf2i2sHE1hOBbU-v7wPXtg'
             'nonce-9rGJBPvqZy4uNHoJ8rY7jy69EvbVTFrixw'
             'nonce-GWX2a6zrqZUs7qs9vkovJgc_ZTXX7XDyqA'
             'nonce-6hiODP2cMhqGxufx3FCt0OuKBVQqo1pzMQ'
             'nonce-vEBupU0rcl34CimehRmjNBrl5bpNBFFzNQ'
             'nonce-lgsFrJFxgRb6dtYmOou-2Yj5DodBJPLgBA'
             'nonce-nCVIXDEVTLzM1Kztvsqujwl0-eQhBfS_4g'
             'nonce-xlYFqIwy49bSD9SNTyHULS3UFHFSp67yBg'
             'nonce-TsSjY8sbDVjGwTSMU0xIKXCcsWe7qF1luA'
             'nonce-6P4ZfYJR5YHbPQQR1hupGdovttcKRljRZA'
             'nonce-sHAYRdGVIpdZVrMUic-UwVI78WWqyA6LHg'
             'nonce-x1dw_Iadhkn76pRnSRZQNgQakbY9Q-tYtg'
             'nonce-UeWoW8zQBIQ9Q75k1XvhPvxBf_IPoBs2Yg'
			 'nonce-98DH0md1KEUXRsj8rpVA3AXUO12FYSLHgQ'
			 'nonce-pICXhcTFe01PR2RZf9GqXTDr9sXGVmIGLg'
			 'nonce-ddKo7P4HyMSL68Htx_3ib1VIygbRk3Aopw'
			 'nonce-dqchHvzfTG6Pagwg01T5sYoJb4GEy1Y0Qw'
			 'nonce-dt6oWH4NthRqgshFK-7_SlnK9CQvDVN8VQ'
			 'nonce-0DRnw3POZBrVAoeCZ1cIil55vKEH6xtI5g'
			 'nonce-EMh89L5c7DVCu7bWEIQ3z1CAlBPdaeXPTQ'
			 'nonce-0SjfkPlBww5ynr2NZW8LVN77NMUQcpPfiA'
			 'nonce-3o2uBXVe3BKNczzSoluaU8kjJWA7GvGe8g'
			 'nonce-rOruzf_UG1QvBUuCXzIO46PZmJjjc0pjYQ'
			 'nonce-M2Y0s4mPlguMJF_EvPEvpfxGZIuHmj9TDQ'
			 'nonce-rB_tcWoT5rXE3t-aaHrTI7R8ZLHLXIBMaQ'
			 'nonce-pniGi7DimWeiNwjdGM1SFtN4xC1RwvUo6w'
			 'nonce-XAyd4461S-kOv4-TCWoB1LYFaRNy7qsX2Q'
			 'nonce-auBY8P8YTCOQGGqsVqSUaAN33iNAL6jHAA'
			 'nonce-opaPNWKh4rlPaf__wbgk2r96yxqYqk1EgA'
			 'nonce-LphqlVEE36kPX5E4KBLXLWJ5ASkHOSPwbQ'
			 'nonce-Zx9Mw8lHYQb1id3NbzWOLUeLyHzPI-QrKA'
			 'nonce-CsBMXL2uNDQuYbSHoHkBOP3Sj0fnZmbQMA'
			 'nonce-nZXyXPk7DY6M3ByeXzLKbZcJQBN4KVWLpg'
			 'nonce-qIFKHaBU0fwCX1TFkR6z09sOdXG6YEV-Cg'
			 'nonce-sM3Ffnu-uOGWSyzNdVuvBOakx5QKGL4lXA'
			 'nonce-WuJIUizgDprzmarqoJfL1dIIjGzoNK_F4A'
			 'nonce-rW366BsEdis1Qz3f4XySi4FH7-cxTenqRw'
			 'nonce-anaoKHollrQo3oBYF4w0YDevno08D23_yg'
			 'nonce-jE4m4fd1vPdbH37YvvTWRe4e_94xjdccNQ'
			 'nonce-T22yt3cS-CxAthVeQnGnViroS0y8SJluWg'
			 'nonce-L7bm3Z9orbXjlTN4btODziVxAe43i6hUDQ'
			 'nonce-2NNDcEvEOu9ELGjnbpAAM6QM7lJuEJFUbw'
			 'nonce-3kAsDuwV82q9Mmr8wyWT65sA7s44PB0t4w'
			 'nonce-lcI82gr33zgq6rd5aqKhcMXmCEQLzXvN9w'
			 'nonce-oAx7XhnYv3h6Cwt6ArlvbrUOl6xybIPraw'
			 'nonce-SX5FbJbrRWLQDpleawzT6xH6FSyzRcE-kA'
			 'nonce-nDgWEODED2vZ3ibQg9-5o-OeMFqzn7P3GQ'
			 'nonce-chZC8JdMKyyX7QGxJvwHTH1O7oZVTxBC4w'
			 'nonce-7hbOJ9QtCc_cnR4HVjil4wB2IrXA-S68rg'
			 'nonce-SoU7FhvfAAviHFsv55xhEjEwA2pJ4P3qZg'
			 'nonce-kDhIQyaAvQ43gdeMssPEMu37vf5G5GL7Sg'
			 'nonce-v_RnVs8RkhE2WeO3l22hwUEweJA8Avjc5A'
			 'nonce-8zjuPyYPaKFCWhsuvzYYJiIzlAd8zEsyKA'
			 'nonce-cENoZnXSTlZ8ETYzYVeVBbQYBpRRR7DqKg'
			 'nonce-mMB9qa8rtAbiNEkkXCK05Yi2aeA59EDBFQ'
			 'nonce-eMnDURsJ2rA-lK07vfsPnI4quB-GSnQAMg'
			 'nonce-thV8e5iwdIm60h5-RsQUNROVf43X8fGMNg'
			 'nonce-A0VWvbHSTm26vd1xk4BVd3eHQKtwpSWesA'
			 'nonce-DgnkfEcd6nshGcticWCOMggz0hA_w-_2Cw'
			 'nonce-Dx4pr80UwnbC1X-7qtc6VmwrxWVrpmiPAw'
			 'nonce-4eicKQaCwqhpSbrAxrqxhf2cEqhkq2NY_g'
			 'nonce-h2lEvoHu2hU5Wi-1d6Q37XDsvSqkWPn_JQ'
			 'nonce-lR4HF6DIFpObnBZVVb5sD19fsuVotqFNuQ'
			 'nonce-kvc4O7QS8V689Em11gCfgcT1RWUmPuvRPQ'
			 'nonce-_TmTFrvhxOwWVEk3VaacGL28xIA7G1AXgQ'
			 'nonce-B3CE5-0ZMtWvTqqV3m4RPYkBKzgHpqTYFw'
			 'nonce-blcNeNjWqcOg9-LwGGmU0Ykxo2_1iEr4qA'
			 'nonce-hB5VZsRHNn_xAR9OpuznIYmfrtCB2i22Aw'
			 'nonce-I_hc04VnBL8m8j-y6n_s7riYJG_KoxAUxg'
			 'nonce-mc7CrRPXLIF_6kn0dKz9fddhyeBuQTnfcA'
			 'nonce-RQkTJHhYfVG2VhrR1zqlVAKBppvaaqxNqA'
			 'nonce-6ZlJ3obndrmygSGlU7e-Yq-El7R7T05bNA'
			 'nonce-bnQHVKCrbXRfUL-XgyS1XN7cpT0nhI5eDg'
			 'nonce-xK8lhlUv43tmq8CCBFxxQvaX_NQb8rFKgg'
			 'nonce-WeAzgvXo_xSZBLUQZEsNtjWCr5xGfgdE3A'
			 'nonce-m640czyK2gSytg4iv-GH93_ESQZ5AjOK3w'
			 'nonce-zzxFyr6Sau3550dsa_OD5JfscTtxq2CC2g'
			 'nonce-6n4HBL6R70DpV56V7wpoJnsBsylJmX1QZA'
			 'nonce-SlBZFYyO542f-AP23nGIFSJ1SKICuWrmMQ'
			 'nonce-rzQS3Cs0y49l7CgHswcLHsjOOrHZ6VMlqA'
			 'nonce-36GwrssHkw2aYFMbTXI-XouuFV0rlkzAAQ'
			 'nonce-8n2eqchGO1UCM1EWi41IRMNEr1_WgIN3Ig'
			 'nonce-hFo6dkI5Ql38bYQm6HqxuPGSmOuLV52AeQ'
			 'nonce-SvP36QmDPXwj1ZqCyNu9qVkfUZH6yrLAgQ'
			 'nonce-IGomZ_ipwAsfI9h9sWjrJM88ExjxJHY05w'
			 'nonce-3Gk9SHMdGeLgtjz5sAya-UKjc0k4L-ZCPQ'
			 'nonce-I19r2d_8ZVSO4f-KQIOpi-BZiVQ9Nsq9nQ'
			 'nonce-00PO7crq4tgwYvfEy3eGp1NKfWFPD5hiGg'
			 'nonce-Qq-vlFPJ62z5AiXeWGxuV8ex9nYc4LV5Dw'
			 'nonce-7zrn5fsP20oHe7C9Hb9yxdKUYQVrmJZ5uQ'
			 'nonce-bTGJNj3Zd9xYix0Zv3x4YAMZ9Q-E1v78xw'
			 'nonce-opKIWW4_jRIvq1EYjhvzasf2VJ3-h3TWRg'
			 'nonce-SGv8A41p2qe6QvCe1FLGm7FH_RLGSKBz8w'
			 'nonce-ZOrtdH3i2coitxBXIc1TsJi7WOgrI7QDfw'
			 'nonce-HGAJWod-kW81jDcHrZbQo7T-c_qb6vXwAw'
			 'nonce-ciHEOiBVdMUk4WbAmGZIa_5DhzY8-7b_Pw'
			 'nonce-SlBZFYyO542f-AP23nGIFSJ1SKICuWrmMQs'
			 'nonce-QKrrvx1CpbAJKaXwKvMZVWAE9CGPsdH15A'
			 'nonce-F2Tg08SWFAEga1gSVNxD6A7aSr4DkNgDgg'
             ; object-src 'none';base-uri 'none'; img-src 'self' https://datatables.net/examples/resources/details_open.png; connect-src 'self' file: data: blob: filesystem: " />
			</customHeaders>
		</httpProtocol>
	<validation validateIntegratedModeConfiguration="false" /></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
