<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<add name="CAPAONLINE" connectionString="Data Source=10.100.19.52; Initial Catalog=B7_CAPA_ONLINE;user id=sab7; password=Welcome123;" providerName="System.Data.SqlClient" />
		<add name="MASTERVENDOR" connectionString="Data Source=10.100.19.52; Initial Catalog=B7_MASTER_VENDORS;user id=sab7; password=Welcome123;" providerName="System.Data.SqlClient" />
		<add name="B7CONNECT" connectionString="Data Source=10.101.3.114; Initial Catalog=DocumentBank;user id=sab7; password=sqlb7;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		
		<httpRuntime targetFramework="4.5" maxRequestLength="10485760" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
		<!--<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; 
             font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; 
             script-src 'unsafe-inline' 
             'nonce-7Q494Jc3m-VL6ehJHAa20vJNekFmP79siQ==' 
             'nonce-YzB-RjQFJ06RJ3e9uFZFmt2ABkbKV2HXmA==' 
             'nonce-wCi0c_gV2k70GVVyi6cO3WgZe9HEf-qA2A==' 
             'nonce-SMVIct8xH431ltlU_rDq7KlCvE2ajvXaNw==' 
             'nonce-M6GM2jZ5MEktHYYTpO1wP7roqwdKleyzcg==' 
             'nonce-H-IrJirWB4TcOrr_gDTVqX78cROtPpRn9A==' 
             'nonce-ZUQfnlri6Lb-ITU_0hS8pZLbmwNfRlCfog==' 
             'nonce-iSBadu_gmMIhAUmFHAjvB-wDx4OtVf67WQ==' 
             'nonce-1VRndJDnNO_qcjqrm4J_fpzGSRly6flAtQ==' 
             'nonce-SkJ1gSfDnyDAgusDT9Xamo0Akx0tAWPycA==' 
             'nonce-KJqHe5SEF1ngDWFxH83iPrL55cUKb-zKlA==' 
             'nonce-cCKeOS_-qtj1CYOZQ8xb-yyqZPTbFUq0Cg==' 
             'nonce-Kn-4J-nIjHMkYkI9owv6DjmrmbZba2pRNA==' 
             'nonce-oIrdJg39zFk4p0-jXySXPB-KSOXTinCxBQ==' 
             'nonce-xrlc_hIxQ1bJkV2tXzl0fNnE5a_jWbie8Q==' 
             'nonce-sEPEl_QC-JMJ-VwCITEZXe-tc3UohPw-Vw==' 
             'nonce-5130hY68Jo4GOf3Hb9ZoLu4HxNtG7_sZtg==' 
             'nonce-6MAFqHzdMGHaDhBLOZDL0iq6BlkqqWMCdA==' 
             'nonce-tl9mjRfZCDBPcQWBGVIAZJrbuKUP_0lxig==' 
             'nonce-w2Om-lpB1zCBO8bxLlOJITCQ-H5WQW5fDw==' 
             'nonce-w2Om-lpB1zCBO8bxLlOJITCQ-H5WQW5fDw==' 
             'nonce-D1w6469cP7Xo2JFgrko2-MQ3GwQIXl7nNw==' 
             'nonce-iboBItrVNpjzqjVU3Ia7eD2J-MTcpoaCLA==' 
             'nonce-6tifFIYm9TVT0lV7F_M-4iG6kTSnID4rOw==' 
             'nonce-yrMyQo2dKPHb34BRY04Kep9JjCk6z6tinA==' 
             'nonce-x12dvgz95pfrQ15M_lT1ByFT8hGQ04QrXw==' 
             'nonce-iNgxxdkiZVvIjK00HxWQRFPpcJLSuDG6NQ==' 
             'nonce-p3VFpE7eTv-4FJgxFwOEMEG8C-ZkP8uJgA==' 
             'nonce-J9eeIi2tRvTV9ngrsG7XNGSiIspsduwQXQ==' 
             'nonce-tS00lmpKQtlwDeqN-jC-ztC8Uy70_EdTOw=='
             'nonce-d2Tg08SWFAEga1gSVNxD6A7aSr4DkNgDgg=='
             'nonce-eXTDRgBau5yNXf2i2sHE1hOBbU-v7wPXtg=='
             'nonce-9rGJBPvqZy4uNHoJ8rY7jy69EvbVTFrixw=='
             'nonce-GWX2a6zrqZUs7qs9vkovJgc_ZTXX7XDyqA=='
             'nonce-6hiODP2cMhqGxufx3FCt0OuKBVQqo1pzMQ=='
             'nonce-vEBupU0rcl34CimehRmjNBrl5bpNBFFzNQ=='
             'nonce-lgsFrJFxgRb6dtYmOou-2Yj5DodBJPLgBA=='
             'nonce-nCVIXDEVTLzM1Kztvsqujwl0-eQhBfS_4g=='
             'nonce-xlYFqIwy49bSD9SNTyHULS3UFHFSp67yBg=='
             'nonce-TsSjY8sbDVjGwTSMU0xIKXCcsWe7qF1luA=='
             'nonce-6P4ZfYJR5YHbPQQR1hupGdovttcKRljRZA=='
             'nonce-sHAYRdGVIpdZVrMUic-UwVI78WWqyA6LHg=='
             'nonce-x1dw_Iadhkn76pRnSRZQNgQakbY9Q-tYtg=='
             'nonce-UeWoW8zQBIQ9Q75k1XvhPvxBf_IPoBs2Yg=='       
             ; object-src 'none';base-uri 'none';" />
			</customHeaders>
		</httpProtocol>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
