<div class="card">
    <div class="card-body">
        <h4 class="card-title">Approval</h4>
        <div class="row">
            <div class="form-group mb-2 col-sm-3">
                <label class="m-t-20">Status</label>
                <select class="form-control" id="Status_DDL">
                    <option value="Approve">Approve</option>
                    <option value="Reject">Reject</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
        </div>
        <div class="row form-group-sm" id="Div_AlasanReject" hidden>
            <div class="col-md-6">
                <label class="m-t-20">Alasan Reject</label>
                <textarea type="text" class="form-control" id="TxtAlasanReject" placeholder="Alasan Reject"></textarea>
            </div>
        </div>
        <div class="row form-group-sm mt-4">
            <div class="col-md-6">
                <button class="btn mb-1 btn-primary" id="btn_Submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    //Alasan Reject Textarea Hide/Unhide
    $('#Status_DDL').change(function () {
        var statusVal = $('#Status_DDL').val();
        if (statusVal == "Approve")
            $('#Div_AlasanReject').prop('hidden', true);
        else
            $('#Div_AlasanReject').prop('hidden', false);
    });

    //Get status : Accept, Reject or Cancelled.
    function GetStatus() {
        var status = $('#Status_DDL').val();
        if (status == "Approve")
            return "Approve";
        else if (status == "Reject")
            return "Reject";
        else
            return "Cancelled";
    }

    //Submit Approval
    function SubmitApprovalPV() {
        $.ajax({
            url: 'SubmitApproval',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: $('#TxtRequestor').val(),
                    Status: GetStatus(),
                    Reject_Reason: $('#TxtAlasanReject').val(),
                    Option: 1
                }
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data[0].VALID == "Success") {
                    return Swal.fire(
                        'Success',
                        'Data berhasil di-input.',
                        'success'
                    ).then(function (result) {
                        if (result.value) {
                            //go to pending task
                        }
                    });
                }
                return Swal.fire(
                    'Maaf',
                    'Input tidak boleh kosong.',
                    'warning'
                )
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
</script>