<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

<!--Modal-->
<div class="modal fade" id="Reject_Page" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reject CAPA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.Partial("RejectCAPA")
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="Cancel_Page" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel CAPA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.Partial("../Shared/CancelCAPA")
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card" id="div_Buttons">
    <div class="card-body">
        <h4 class="card-title">Approval</h4>

        @*<div class="row">
                <div class="form-group mb-2 col-sm-3">
                    <label class="m-t-20">Status</label>
                    <select class="form-control" id="Status_DDL">
                        <option value="Approve">Approve</option>
                        <option value="Reject">Reject</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
            </div>
            <div class="row form-group-sm" id="Div_AlasanReject" hidden>
                <div class="col-md-6">
                    <label class="m-t-20">Alasan Reject</label>
                    <textarea type="text" class="form-control" id="TxtAlasanReject" placeholder="Alasan Reject"></textarea>
                </div>
            </div>
            <div class="row form-group-sm mt-4">
                <div class="col-md-6">
                    <button class="btn mb-1 btn-primary" id="btn_Submit">Submit</button>
                </div>
            </div>*@

        <div class="row form-group-sm">
            <div class="col-md-2">
                <button class="btn mb-1 btn-primary" id="btn_ApproveCAPA" value="Approve" style="background-color: green">Approve CAPA</button>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-danger" id="btn_RejectCAPA" value="Reject CAPA" data-toggle="modal" data-target="#Reject_Page" />
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-danger" id="btn_CancelCAPA" value="Cancel CAPA" data-toggle="modal" data-target="#Cancel_Page"  style="background-color: orange"/>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.js" defer></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>
<script>
    //Submit Approval
    function SubmitApprovalPV(StatusApproval, CurrentStatsID) {
        if (StatusApproval != 'Approve' && $('#txt' + StatusApproval + 'Reason').val().trim() == "") {
            $.unblockUI();
            Swal.fire({
                title: 'Warning',
                text: 'Alasan ' + StatusApproval + ' tidak boleh kosong!.',
                type: 'warning',
                timer: 2000,
                showConfirmButton: false    
            })
            return
        }
        $.ajax({
            url: '../AtasanPIC/SubmitApproval',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Create_By: '@Request.RequestContext.HttpContext.Session["NIK"]',
                    CurrentStatusID: CurrentStatsID,
                    Status: StatusApproval,
                    Reject_Reason: (StatusApproval == 'Approve') ? ('-') : ($('#txt' + StatusApproval + 'Reason').val()),
                    Option: 1
                }
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {                 
                if (JSON.parse(data)[0].VALID == "VALID") {
                    Swal.fire({
                        title: 'Success',
                        text: 'CAPA berhasil di ' + StatusApproval + '.',
                        type: 'success',
                        timer: 2000,
                        showConfirmButton : false
                    }).then(function (result) {
                       //$.unblockUI();
                        window.location.href = '../PendingTask/TaskList';
                    });
                }
                else {
                    $.unblockUI();
                    Swal.fire({
                        title: 'Maaf',
                        text: 'CAPA ini sudah pernah di Submit.',
                        type: 'warning',
                        timer: 2000,
                        showConfirmButton: false
                    })
                }

            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function ClearRejectReason() {
        $('#txtRejectReason').val("");
        $('#txtCancelReason').val("");
    }

    $(document).ready(function () {
        //Alasan Reject Textarea Hide/Unhide
        //$('#Status_DDL').change(function () {
        //    var statusVal = $('#Status_DDL').val();
        //    if (statusVal == "Approve")
        //        $('#Div_AlasanReject').prop('hidden', true);
        //    else
        //        $('#Div_AlasanReject').prop('hidden', false);
        //});

        $("#btn_ApproveCAPA").click(function () {
            $.blockUI();
            SubmitApprovalPV("Approve", CurrentStatsID);//Approve Approval EventClick
        });

        $("#btnSubmitReject").click(function () {
            $.blockUI();
            SubmitApprovalPV("Reject", CurrentStatsID);//Reject Approval EventClick
            $("#Reject_Page").modal("hide");
        });

        $("#btnSubmitCancel").click(function () {
            $.blockUI();
            SubmitApprovalPV("Cancel", CurrentStatsID);//Reject Approval EventClick
            $("#Cancel_Page").modal("hide");
        });

        $("#btnCloseCancel").click(function () {          
            ClearRejectReason();//Remove Reason Field EventClick
        });

        $("#btnCloseReject").click(function () {            
            ClearRejectReason();//Remove Reason Field EventClick
        });
    });
</script>