<div class="card">
    <div class="card-body">
        <div class="col-md-12">
            <div class="row">
                <label class="m-t-20"><b>Alasan Cancel CAPA</b></label>
                <textarea type="text" class="form-control" placeholder="Input Alasan" id="txtCancelReason" style="width:100%"></textarea>
            </div>
            <hr />
            <div class="row">
                <button type="button" id="btnCloseCancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSubmitCancel" style="background-color:green;" class="btn btn-primary">Submit Cancel</button>
            </div>
            <br />
        </div>
    </div>
</div>

