
<!--Modal-->
<div class="modal fade" id="KajianResikoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Form Kajian Resiko</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="container">
                                <div class="row form-group col-md-12">
                                    <div class="col-md-8">
                                        <label for="TxtPotensiKegagalan" class="col-form-label">Potensi Kegagalan / Penyimpangan yang mungkin terjadi ketika tindakan perbaikan/pencegahan diterapkan</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtPotensiKegagalan" id="TxtPotensiKegagalan"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group col-md-12">
                                    <div class="col-md-4">
                                        <label for="TxtSpesifikasi" class="col-form-label">Spesifikasi / Syarat</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtSpesifikasi" id="TxtSpesifikasi"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="TxtDampak" class="col-form-label">Dampak</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtDampak" id="TxtDampak"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Severity_DDL" class="col-form-label">Severity</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="Severity_DDL" required>
                                                <option selected disabled value="-">*Pilih*</option>
                                                <option value="1">1</option>
                                                <option value="4">4</option>
                                                <option value="7">7</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group col-md-12">
                                    <div class="col-md-4">
                                        <label for="TxtPenyebabPotensial" class="col-form-label">Penyebab Potensial</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtPenyebabPotensial" id="TxtPenyebabPotensial"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="TxtMPenyebabPotensial" class="col-form-label">Mengatasi Penyebab Potensial</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtMPenyebabPotensial" id="TxtMPenyebabPotensial"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Likelihood_DDL" class="col-form-label">Likelihood</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="Likelihood_DDL" required>
                                                <option selected disabled value="-">*Pilih*</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="8">8</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group col-md-12">
                                    <div class="col-md-8">
                                        <label for="TxtMPotensi_KLMD" class="col-form-label">Mencegah Potensi Kegagalan Lolos Menimbulkan Dampak</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtMPotensi_KLMD" id="TxtMPotensi_KLMD"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Detectability_DDL" class="col-form-label">Detectability</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="Detectability_DDL" required>
                                                <option selected disabled value="-">*Pilih*</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row form-group col-md-12">

                                    </div>*@
                                <div class="row form-group col-md-12">
                                    <div class="form-group col-md-6">
                                        <label for="TxtRPN" class="col-form-label">RPN</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="TxtRPN" id="TxtRPN" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="TxtRiskLevel" class="col-form-label">Risk Level</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="TxtRiskLevel" id="TxtRiskLevel" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container" id="Div_KajianResikoModal" hidden>
                                <div class="form-group col-md-3">
                                    <label for="Target_DDL" class="col-form-label">Target</label>
                                    <div class="input-group">
                                        <select class="form-control select2" id="Target_DDL" required>
                                            <option selected disabled value="">*Pilih*</option>
                                            <option value="Low">Low</option>
                                            <option value="Medium">Medium</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group col-md-12">
                                    <div class="col-md-6">
                                        <label for="TxtMPotensi_K" class="col-form-label">Menghilangkan Potensi Kegagalan/ Penyimpangan</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtMPotensi_K" id="TxtMPotensi_K"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="Severity2_DDL" class="col-form-label">Severity</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="Severity2_DDL" required>
                                                <option selected disabled value="-">*Pilih*</option>
                                                <option value="1">1</option>
                                                <option value="4">4</option>
                                                <option value="7">7</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group col-md-12">
                                    <div class="col-md-6">
                                        <label for="TxtMPenyebab_P" class="col-form-label">Perbaikan untuk mengatasi Penyebab Potensial</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtMPenyebab_P" id="TxtMPenyebab_P"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="Likelihood2_DDL" class="col-form-label">Likelihood</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="Likelihood2_DDL" required>
                                                <option selected disabled value="-">*Pilih*</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="4">4</option>
                                                <option value="8">8</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group col-md-12">
                                    <div class="col-md-6">
                                        <label for="TxtDPotensi_K" class="col-form-label">Perbaikan untuk meningkatkan deteksi potensi kegagalan</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtDPotensi_K" id="TxtDPotensi_K"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="Detectability2_DDL" class="col-form-label">Detectability</label>
                                        <div class="input-group">
                                            <select class="form-control select2" id="Detectability2_DDL" required>
                                                <option selected disabled value="-">*Pilih*</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group col-md-12">
                                    <div class="col-md-6">
                                        <label for="TxtRPN2" class="col-form-label">RPN</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="TxtRPN2" id="TxtRPN2" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="TxtRiskLevel2" class="col-form-label">Risk Level</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="TxtRiskLevel2" id="TxtRiskLevel2" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container" id="Div_TxtPIC" hidden>
                                <div class="row form-group col-md-12">
                                    <div class="col-md-4">
                                        <label for="TxtPIC" class="col-form-label">PIC</label>
                                        <div class="input-group">
                                            <input type="text" id="TxtPICName" name="TxtPICName" class="form-control form-control-sm" readonly>
                                            <input type="text" id="TxtPIC" name="TxtPIC" class="form-control form-control-sm" hidden>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group col-md-12">
                                    <div class="col-md-4">
                                        <label for="TxtLainnya" class="col-form-label">Lainnya</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" name="TxtLainnya" id="TxtLainnya"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="DueDate_Kajian" class="col-form-label">Due Date</label>
                                        <div class="input-group">
                                            <input type="date" id="DueDate_Kajian" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="form-group col-md-6">
                                    <button type="button" class="btn btn-primary" id="btn_KajianResiko"style="background-color:green;">Tambahkan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Kajian Resiko</h4> 
        <div class="row form-group" id="Div_KajianResikoInput">
            <div class="col-md-7">
                <select id="RootCause_KajianResikoDDL" class="form-control">
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" id="btn_AddKajian" class="btn btn-dark mb-2" data-toggle="modal" data-target="#KajianResikoModal">Tambahkan Kajian Resiko</button>
            </div>
        </div>
        <div class="table-responsive mb-3">
            <table class="table table-hover table-bordered  " id="Tbl_KajianResiko" style="color:black">
                <thead>
                    <tr>
                        <th>Tindakan</th>
                        <th>Potensi Kegagalan / Penyimpangan yang mungkin terjadi ketika tindakan perbaikan/pencegahan diterapkan</th>
                        <th>Spesifikasi / Syarat</th>
                        <th>Dampak</th>
                        <th>Severity (S)</th>
                        <th>Penyebab Potensial</th>
                        <th>Mengatasi Penyebab Potensial</th>
                        <th>Likelihood (L)</th>
                        <th>Mencegah Potensi Kegagalan Lolos Menimbulkan Dampak</th>
                        <th>Detectability (D) </th>
                        <th>RPN (SxLxD)</th>
                        <th>Risk Level</th>
                        <th>TARGET</th>
                        <th>Menghilangkan Potensi Kegagalan/ Penyimpangan</th>
                        <th>Severity (S)</th>
                        <th>PERBAIKAN untuk mengatasi Penyebab Potensial</th>
                        <th>Likelihood (L)</th>
                        <th>PERBAIKAN untuk meningkatkan deteksi potensi kegagalan</th>
                        <th>Detectability (D)</th>
                        <th>RPN (SxLxD)</th>
                        <th>Risk Level</th>
                        <th>PIC</th>
                        <th>Due Date</th>
                        <th>Lainnya</th>
                        <th>Detail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="Tbl_PRCA">
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>

        @*<div class="row form-group-sm mt-4">
            <div class="col-md-6">
                <button class="btn mb-1 btn-primary" id="btn_Submit">Submit</button>
            </div>
        </div>*@
    </div>
</div>
<input type="text" class="form-control form-control-sm" id="NoCAPA" val="@ViewBag.NoCAPA" style="width:100%;" hidden>
<script nonce="cCKeOS_-qtj1CYOZQ8xb-yyqZPTbFUq0Cg">
    var tipe;
    var jenis = "Tambah Pencegahan Existing";
    var isDetail = true;
    var valid = false;
    var tindakan;
    var status;
    var ObjLampiranTreat = GetLampiranTreatmentPV();
    function KajianResikoDDLPV() {
        $.ajax({
            url: '../PIC/GetDataPIC',
            type: 'post',
            data: JSON.stringify({
                Option: 10,
                NO_CAPA: $('#input_NoCAPA').val(),
                SP: "[dbo].[SP_FORM_CAPA]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(JSON.parse(data))
                //objTindakan = JSON.parse(data);
                //console.log('Halaman PV dalam KajianResikoDDLPV(): ' + objTindakan);
                //$('#RootCause_KajianResikoDDL').empty();
                //$('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                //$.each(JSON.parse(data), function (key, value) {
                //    $('#RootCause_KajianResikoDDL').append(new Option(value.Tindakan, value.Tindakan));
                //});
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function TableKajianPV() {
        $.ajax({
            url: '../PIC/GetKajianResiko',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#input_NoCAPA').val(),
                    Option: 11,
                    Aspect: '',
                    WSBH: '',
                    WAH: '',
                    Status: '',
                    isParent: '',
                    WHY_Parent: '',
                    WHY: '',
                    Tindakan: '',
                    Pelaksana: '',
                    LineNumber: '',
                    NamaPersonil: '',
                    Email: '',
                    DueDate: '',
                    Is_AreaLain: '',
                    WhyID: '',
                    WhyParentID: '',
                    RootCause: ''
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                var table = $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "paging": false,
                    "info": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '<span><a><i class="fa fa-eye" aria-hidden="true"></i></a></span>',
                            "className": "details text-center",
                            "visible": (!isDetail) ? (true) : (false)
                        },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete' onclick=Delete(this)>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },

                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });

                showChildTreatment(table);
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    function GetLampiranTreatmentPV() { // dipanggil di view parent jika seperlunya saja
        var dictlist = {
            NoCAPA: $('#input_NoCAPA').val(),
            Option: 15
        }

        var dto1 = {
            Model: dictlist
        }

        var d = $.ajax({
            url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            error: function (ex) {
                console.log(JSON.stringify(ex))
            }
        });
        return JSON.parse(JSON.parse(d.responseText));
    }

    function formatTreatment(d) {
        var html = '';
        $.each(ObjLampiranTreat, function (key, value) {
            if (value.ID_FK == d.RecordID) {
                return html += '<tr>' +
                    '<td>File Name :</td>' +
                    '<td><a href="' + value.FILE_PATH + '">' + value.FILE_NAME + '</a></td>' +
                    '</tr>';
            }
        });

        if (html == '') {
            html = '';
            html = '<tr>' +
                '<td>Tidak ada lampiran.</td>' +
                '</tr>';
        }

        var tableChild = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            html +
            '</table>';
        return tableChild;
    }

    function showChildTreatment(t) {
        // Array to track the ids of the details displayed rows
        var detailRows = [];

        $('#Tbl_KajianResiko tbody').on('click', 'tr td a i.fa', function () {
            var tr = $(this).closest('tr');
            var trs = $(this).closest('tr td a i');
            var row = t.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                trs.removeClass('fa-eye-slash');
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice(idx, 1);
            }
            else {
                trs.addClass('fa-eye-slash');
                row.child(formatTreatment(row.data())).show();
                // Add to the 'open' array
                if (idx === -1) {
                    detailRows.push(tr.attr('id'));
                }
            }
        });

        // On each draw, loop over the `detailRows` array and show any child rows
        t.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details').trigger('click');
            });
        });
    }

    var isHide = false;
    function ColoredColumns(row, d, className) {
        if (d == "Low") {
            $('td.' + className, row).css({
                background: "limegreen",
                color: "black"
            });
        } else if (d == "Medium") {
            $('td.' + className, row).css({
                background: "yellow",
                color: "black"
            });
        } else if (d == "High") {
            $('td.' + className, row).css({
                background: "red",
                color: "white"
            });
        } else if (d == "Very High") {
            $('td.' + className, row).css({
                background: "black",
                color: "white"
            });
        }
    }//d = data

    function UnhideKajianResikoModalPV() {

        if (jenis != "Pembatalan Perbaikan" && jenis != "Pembatalan Pencegahan") {

            if ($('#Severity_DDL').val() == 10 || $('#TxtRiskLevel').val() == 'Very High' || $('#TxtRiskLevel').val() == 'High') {
                $('#Div_KajianResikoModal').prop('hidden', false);
                $('#Div_TxtPIC').prop('hidden', false);
            } else {
                $('#Div_KajianResikoModal').prop('hidden', true);
                $('#Div_TxtPIC').prop('hidden', true);
            }

        }
    }

    function realtimeCalculation() {
        var RPN = 0;
        var RPN2 = 0;
        var Severity = $('#Severity_DDL').val();
        var Detectability = $('#Detectability_DDL').val();
        var Likelihood = $('#Likelihood_DDL').val();
        var Severity2 = $('#Severity2_DDL').val();
        var Detectability2 = $('#Detectability2_DDL').val();
        var Likelihood2 = $('#Likelihood2_DDL').val();

        if (!isNaN(Severity) && !isNaN(Detectability) && !isNaN(Likelihood)) {
            RPN = Severity * Likelihood * Detectability;
            $('#TxtRiskLevel').val(riskCalculation(RPN));
        }

        if (!isNaN(Severity2) && !isNaN(Detectability2) && !isNaN(Likelihood2)) {
            RPN2 = Severity2 * Likelihood2 * Detectability2;
            $('#TxtRiskLevel2').val(riskCalculation(RPN2));
        }


        $('#TxtRPN').val(RPN);
        $('#TxtRPN2').val(RPN2);
    }

    function riskCalculation(RPN) {
        if (RPN > 0 && RPN <= 35)
            return "Low";
        else if (RPN > 35 && RPN <= 80)
            return "Medium";
        else if (RPN > 80 && RPN <= 140)
            return "High";
        else if (RPN >140)
            return "Very High";
    }
    
    function getDataTindakan(data) {
        return objTindakan = data;
    }// refer to KajianResikoDDL();
   
    //search Tindakan get record_id and Tipe
    //var values; //objTindakan filtered.
    function recTindakan() {

        //console.log(objTindakan);
        //console.log(tipe);
        for (var i = 0; i < objTindakan.length; i++)
        {
            if (objTindakan[i].RecordID == $('#RootCause_KajianResikoDDL').val() && objTindakan[i].Tipe == tipe) {
                values = objTindakan[i];
                break;
            }
            
        }
        
    } 

    function RemoveModalInput() {
        $('#TxtPotensiKegagalan').val("");
        $('#TxtDampak').val("");
        $('#TxtSpesifikasi').val("");
        $('#TxtPenyebabPotensial').val("");
        $('#TxtMPenyebabPotensial').val("");
        $('#TxtMPotensi_KLMD').val("");
        $('#Severity_DDL').val("-").trigger('change');
        $('#Likelihood_DDL').val("-").trigger('change');
        $('#Detectability_DDL').val("-").trigger('change');
        $('#TxtRPN').val("");
        $('#TxtRiskLevel').val("");
        $('#Target_DDL').val("").trigger('change');
        $('#TxtMPotensi_K').val("");
        $('#TxtMPenyebab_P').val("");
        $('#TxtDPotensi_K').val("");
        $('#Severity2_DDL').val("-").trigger('change');
        $('#Likelihood2_DDL').val("-").trigger('change');
        $('#Detectability2_DDL').val("-").trigger('change');
        $('#TxtRPN2').val("");
        $('#TxtRiskLevel2').val("");
        //$('#TxtPICName').val("");
        //$('#TxtPIC').val("");
        $('#TxtLainnya').val("");
        $('#DueDate_Kajian').val("");
        $('#Div_KajianResikoModal').prop('hidden', true);
        $('#KajianResikoModal').modal('hide');
    }

    $(document).ready(function () {
        //KajianResikoDDLPV();
        if (tindakan == '')
        {
            TableKajianPV();
        }
        var isHide = false;

        $('#RootCause_KajianResikoDDL').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');

        $('#btn_Load').click(function () {
            //console.log(objTindakan);
        });
      

        $('#Severity_DDL').change(function () {
            realtimeCalculation();
            console.log(jenis);
            if (jenis != "Pembatalan Perbaikan" || jenis != "Pembatalan Pencegahan") {

                UnhideKajianResikoModalPV();
            }
        });

        $('#Likelihood_DDL').change(function () {
            realtimeCalculation();
            console.log(jenis);
            if (jenis != "Pembatalan Perbaikan" || jenis != "Pembatalan Pencegahan") {

                UnhideKajianResikoModalPV();
            }
        });

        $('#Detectability_DDL').change(function () {
            realtimeCalculation();
            console.log(jenis);
            if (jenis != "Pembatalan Perbaikan" || jenis != "Pembatalan Pencegahan") {

                UnhideKajianResikoModalPV();
            }
        });

        $('#Severity2_DDL').change(function () {
            realtimeCalculation();
        });

        $('#Likelihood2_DDL').change(function () {
            realtimeCalculation();
        });

        $('#Detectability2_DDL').change(function () {
            realtimeCalculation();
        });


        $("#btn_Submit").click(function () {
            //window.location.replace('/PendingTask/TaskList');
            $.ajax({
                url: '../PIC/SubmitToAtasanPIC',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    Model: {
                        NO_CAPA: $('#input_NoCAPA').val(),
                        Option: 12,
                        Aspect: '',
                        WSBH: '',
                        WAH: '',
                        Status: '',
                        isParent: '',
                        WHY_Parent: '',
                        WHY: '',
                        Tindakan: '',
                        Pelaksana: '',
                        LineNumber: '',
                        NamaPersonil: '',
                        Email: '',
                        DueDate: '',
                        Is_AreaLain: '',
                        WhyID: '',
                        WhyParentID: '',
                        RootCause: '',
                        Create_By: $('#input_Requestor').val(),
                        RecordID: ''
                    }
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var mData = JSON.parse(data);
                    $.each(mData, function (key, value) {
                        var attr = Object.keys(value)[0];
                        var icon;
                        if (attr == "WAITING")
                            icon = 'warning';
                        else if (attr == 'SUCCESS')
                            icon = 'success';
                        else
                            icon = 'error';
                        Swal.fire(
                            attr,
                            value[attr],
                            icon
                        ).then(function (result) {
                            if (result.value) {
                                window.location.href = '../PendingTask/TaskList';
                            }
                        });
                        return false;
                    });
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        });
       
    });


    
</script>