<div class="card">
    <div class="card-body">
        <h4 class="card-title">Kajian Resiko</h4>
        <div class="row form-group" id="Div_KajianResikoInput">
            <div class="col-md-7">
                <select id="RootCause_KajianResikoDDL" class="form-control">
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" id="btn_AddKajian" class="btn btn-dark mb-2" data-toggle="modal" data-target="#KajianResikoModal">Tambahkan Kajian Resiko</button>
            </div>
        </div>
        <div class="table-responsive mb-3">
            <table class="table table-hover table-bordered  table-responsive" id="Tbl_KajianResiko" style="color:black">
                <thead>
                    <tr>
                        <th>Tindakan</th>
                        <th>Potensi Kegagalan / Penyimpangan yang mungkin terjadi ketika tindakan perbaikan/pencegahan diterapkan</th>
                        <th>Spesifikasi / Syarat</th>
                        <th>Dampak</th>
                        <th>Severity (S)</th>
                        <th>Penyebab Potensial</th>
                        <th>Mengatasi Penyebab Potensial</th>
                        <th>Likelihood (L)</th>
                        <th>Mencegah Potensi Kegagalan Lolos Menimbulkan Dampak</th>
                        <th>Detectability (D) </th>
                        <th>RPN (SxLxD)</th>
                        <th>Risk Level</th>
                        <th>TARGET</th>
                        <th>Menghilangkan Potensi Kegagalan/ Penyimpangan</th>
                        <th>Severity (S)</th>
                        <th>PERBAIKAN untuk mengatasi Penyebab Potensial</th>
                        <th>Likelihood (L)</th>
                        <th>PERBAIKAN untuk meningkatkan deteksi potensi kegagalan</th>
                        <th>Detectability (D)</th>
                        <th>RPN (SxLxD)</th>
                        <th>Risk Level</th>
                        <th>PIC</th>
                        <th>Due Date</th>
                        <th>Lainnya</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="Tbl_PRCA">
                    <tr>
                        <td>Tindakan</td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td>
                            <select id="SaverityDDL" class="form-control">
                                <option value="1">1</option>
                                <option value="4">4</option>
                                <option value="7">7</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td>
                            <select id="LikelihoodDDL" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="8">8</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td>
                            <select id="DetectabilityDDL" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>SxLxD</td>
                        <td>Level Risk Color</td>
                        <td>
                            <select id="DetectabilityDDL" class="form-control">
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td>
                            <select id="LikelihoodDDL" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="8">8</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td>
                            <select id="DetectabilityDDL" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
                        <td>
                            <select id="DetectabilityDDL" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>SxLxD</td>
                        <td>Level Risk Color</td>
                        <td>PIC</td>
                        <td>Due Date</td>
                        <td>Lainnya</td>
                        <td><button class="form-control-sm">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*<div class="row form-group-sm mt-4">
            <div class="col-md-6">
                <button class="btn mb-1 btn-primary" id="btn_Submit">Submit</button>
            </div>
        </div>*@
    </div>
</div>
<input type="text" class="form-control form-control-sm" id="NoCAPA" val="@ViewBag.NoCAPA" style="width:100%;" hidden>
<script>

    function KajianResikoDDLPV() {
        $.ajax({
            url: '/PIC/GetDataPIC',
            type: 'post',
            data: JSON.stringify({
                Option: 10,
                SP: "[dbo].[SP_FORM_CAPA]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#RootCause_KajianResikoDDL').empty();
                $.each(JSON.parse(data), function (key, value) {
                    $('#RootCause_KajianResikoDDL').append(new Option(value.WhyDesc, value.WhyDesc));
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function TableKajianPV() {
        $.ajax({
            url: '/PIC/GetKajianResiko',
            type: 'post',
            data: JSON.stringify({
                Model: {
                    NO_CAPA: $('#NoCAPA').val(),
                    Option: 11,
                    Aspect: '',
                    WSBH: '',
                    WAH: '',
                    Status: '',
                    isParent: '',
                    WHY_Parent: '',
                    WHY: '',
                    Tindakan: '',
                    Pelaksana: '',
                    LineNumber: '',
                    NamaPersonil: '',
                    Email: '',
                    DueDate: '',
                    Is_AreaLain: '',
                    WhyID: '',
                    WhyParentID: '',
                    RootCause: ''
                }
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                $('#Tbl_KajianResiko').DataTable({
                    "pageLength": 5,
                    "lengthChange": true,
                    "paging": false,
                    "info" : false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        { "data": "Tindakan" },
                        { "data": "P_Kegagalan" },
                        { "data": "Spek" },
                        { "data": "Dampak" },
                        { "data": "Severity" },
                        { "data": "Penyebab" },
                        { "data": "M_Penyebab" },
                        { "data": "Likelihood" },
                        { "data": "M_PKegagalan_LMD" },
                        { "data": "Detectability" },
                        { "data": "RPN" },
                        {
                            "data": "RiskLevel",
                            "className": "riskLevel"
                        },
                        { "data": "Target" },
                        { "data": "M_PKegagalan" },
                        { "data": "Severity2" },
                        { "data": "P_MPenyebab" },
                        { "data": "Likelihood2" },
                        { "data": "P_MDPKegagalan" },
                        { "data": "Detectability2" },
                        { "data": "RPN2" },
                        {
                            "data": "RiskLevel2",
                            "className": "riskLevel2"
                        },
                        { "data": "FullName" },
                        { "data": "DueDate" },
                        { "data": "Lainnya" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete' onchange=''>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                    ],
                    "order": [[1, 'asc']],
                    "rowCallback": function (row, data) {
                        ColoredColumns(row, data.RiskLevel, "riskLevel");
                        ColoredColumns(row, data.RiskLevel2, "riskLevel2");
                    }
                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }
    var isHide = false;
    function ColoredColumns(row, d, className) {
        if (d == "Low") {
            $('td.' + className, row).css({
                background: "limegreen",
                color: "black"
            });
        } else if (d == "Medium") {
            $('td.' + className, row).css({
                background: "yellow",
                color: "black"
            });
        } else if (d == "High") {
            $('td.' + className, row).css({
                background: "red",
                color: "white"
            });
        } else if (d == "Very High") {
            $('td.' + className, row).css({
                background: "black",
                color: "white"
            });
        }
    }//d = data 

    $(document).ready(function () {
        KajianResikoDDLPV();
        TableKajianPV();
        var isHide = false;        
    });
</script>