<div class="card">
    <div class="card-body">
        <div class="col-md-12">
            <div class="row">
                <label class="m-t-20"><b>Alasan Reject CAPA</b></label>
                <textarea type="text" class="form-control" placeholder="Input Alasan" id="txtRejectReason" style="width:100%"></textarea>
            </div>
            <hr />
            <div class="row">
                <button type="button" id="btnCloseReject" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSubmitReject" style="background-color:green;" class="btn btn-primary">Submit Reject</button>
            </div>
            <br />
        </div>
    </div>
</div>
