<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td>
    <select id="SaverityDDL" class="form-control">
        <option value="1">1</option>
        <option value="4">4</option>
        <option value="7">7</option>
        <option value="10">10</option>
    </select>
</td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td>
    <select id="LikelihoodDDL" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
    </select>
</td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td>
    <select id="DetectabilityDDL" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</td>
<td>SxLxD</td>
<td>Level Risk Color</td>
<td>
    <select id="DetectabilityDDL" class="form-control">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
    </select>
</td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td>
    <select id="LikelihoodDDL" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
    </select>
</td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td>
    <select id="DetectabilityDDL" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</td>
<td><input type="text" class="form-control form-control-sm" style="width:100%;"></td>
<td>
    <select id="DetectabilityDDL" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
</td>
<td>SxLxD</td>
<td>Level Risk Color</td>
<td>PIC</td>
<td>Due Date</td>
<td><button class="form-control-sm">Add</button></td>
