<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tindakan Perbaikan</h4>
        <div>
            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_Perbaikan">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Root Cause</th>
                        <th>Tindakan Perbaikan</th>
                        <th>Nama Pelaksana</th>
                        <th>Due_Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Hidden Input*@
<input class="form-control form-control-sm" type="text" id="input_NIK" value="@Request.QueryString["NIK"]" hidden />

<script src="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.js" defer></script>

<script>
    var isHide = false;
    var isDetail = false;
    var queryStatus = ('@string.IsNullOrEmpty(Request.QueryString.Get("StatsID"))' == "True") ? ("") : ('@Request.QueryString.Get("StatsID")');
    function GetTindakanPerbaikanPV(dictlist) {
        var dictlist = {
            NoCAPA: $('#input_NoCAPA').val(),
            Option: 4,
            NIK: (queryStatus == 3) ? ('@Request.RequestContext.HttpContext.Session["NIK"]') : ("")
        }

        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                var table = $('#Tbl_Perbaikan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "info": false,
                    "searching": false,
                    "paging": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyID" },
                        { "data": "WhyParentID" },
                        { "data": "WhyDesc" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "Nama_Personil" },
                        { "data": "Due_Date" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete'>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                        {                                                    
                            "orderable": false,
                            "data": null,
                            "defaultContent": '<span><a><i class="fa fa-eye" aria-hidden="true"></i></a></span>',
                            "className": "details text-center",
                            "visible": (!isDetail) ? (true) : (false)
                        }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false
                        },
                        {
                            "targets": [1],
                            "visible": false
                        },
                        {
                            "targets": [2],
                            "visible": false
                        }
                    ],
                    "order": [[1, 'asc']],
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function DeleteTindakanPerbaikanPV() {
        $(document).on("click", "#Tbl_Perbaikan button.delete", function () {
            var rows = $(this).closest('tr');
            var data = $('#Tbl_Perbaikan').DataTable().row(rows).data();

            var dictlist = {
                NoCAPA: $('#input_NoCAPA').val(),
                Option: 5,
                RecordID: data.RecordID
            }
            var dto1 = {
                Model: dictlist
            }

            Swal.fire({
                title: 'Apakah anda yakin?',
                text: "Action ini akan menghapus semua Tindakan Pencegahan yang dimiliki oleh Tindakan Perbaikan ini.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
                        type: 'post',
                        data: JSON.stringify(dto1),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var result = JSON.parse(data);
                            if (result[0].STATUS == "DELETED") {
                                Swal.fire(
                                    'Success',
                                    'Tindakan berhasil di hapus.',
                                    'success'
                                ).then((result) => {
                                    if (result.value) {
                                        GetTindakanPerbaikanPV();
                                        GetTindakanPencegahanPV();
                                        retrieveData2();
                                    }
                                });
                            }
                        },
                        error: function (ex) {
                            alert(JSON.stringify(ex));
                        }
                    });
                }
            });
        });
    }

    $(document).ready(function () {
        GetTindakanPerbaikanPV();
        DeleteTindakanPerbaikanPV();
    });
</script>