<div class="card">
    <div class="card-body">
        <h4 class="card-title">Penentuan Tindakan Pencegahan</h4>
        <div class="table-responsive">
            <form>
                <div class="row form-group-sm">
                    <div class="col-md-6">
                        <label class="m-t-20">Area / Proses lain yang Berpotensi</label>
                        <select id="AreaLain_DDL" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row form-group-sm">
                    <div class="col-md-6">
                        <label class="m-t-20">Tindakan Pencegahan<span style="color: red">*</span></label>
                        <textarea type="text" class="form-control" id="TxtDeskripsiPencegahan" placeholder="Deskripsi"></textarea>
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label class="m-t-20">Due Date</label>
                        <input type="date" id="duedate_pencegahan" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="m-t-40">Pelaksana Tindakan Pencegahan</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="TxtPelaksanaPencegahan">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="m-t-40">Nama Personil</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="TxtNamaPersonilPencegahan">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="m-t-40">Alamat Email</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="TxtEmailPencegahan">
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="m-t-40" style="visibility: hidden">_</label>
                        <div class="input-group">
                            <button type="button" id="btn_AddPencegahan" class="btn mb-1 btn-primary ">Tambahkan Tindakan Pencegahan</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
