<div class="card">
    <div class="card-body">
        <h4 class="card-title">Penentuan Tindakan Perbaikan</h4>
        <div class="table-responsive">
            <form>
                <div class="row form-group-sm">
                    <div class="col-md-6">
                        <label class="m-t-20">Root Cause</label>
                        <select id="RootCause_DDL" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row form-group-sm">
                    <div class="col-md-6">
                        <label class="m-t-20">Tindakan Perbaikan<span style="color: red">*</span></label>
                        <textarea type="text" class="form-control" placeholder="Deskripsi" id="TxtDeskripsiPerbaikan"></textarea>
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label class="m-t-20">Due Date</label>
                        <input type="date" id="duedate_perbaikan" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label class="m-t-40">Pelaksana Tindakan Perbaikan</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="TxtPelaksanaPerbaikan">
                        </div>
                    </div>
                    @*<div class="col-md-4" style="text-align: center">
                            <label class="m-t-40" style="visibility:hidden">_</label>
                            <div class="input-group mb-3">
                                <button type="button" class="btn mb-1 btn-primary ">Add</button>
                                <button type="button" class="btn mb-1 btn-primary ">Browse</button>
                            </div>
                        </div>*@
                    <div class="col-md-3">
                        <label class="m-t-40">Nama Personil</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="TxtNamaPersonil">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="m-t-40">Alamat Email</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="TxtEmailPelaksana">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="m-t-40">Apakah ada proses / area lain yang berpotensi sama ?</label>
                        <div class="radio input-group">
                            <div class="col-sm-3">
                                <label><input type="radio" value="Yes" name="Potensi">Ya</label>
                            </div>
                            <div class="col-sm-3">
                                <label><input type="radio" value="No" name="Potensi">Tidak</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="m-t-40" style="visibility: hidden">_</label>
                        <div class="input-group">
                            <button type="button" id="btn_AddPerbaikan" class="btn mb-1 btn-primary ">Tambahkan Tindakan Perbaikan</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>