<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tindakan Perbaikan</h4>
        <div>
            <table class="table table-hover table-bordered zero-configuration" style="color: black" id="Tbl_Perbaikan">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Root Cause</th>
                        <th>Tindakan Perbaikan</th>
                        <th>Nama Pelaksana</th>
                        <th>Due_Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Hidden Input*@
<input class="form-control form-control-sm" type="text" id="input_NIK" value="@Request.QueryString["NIK"]" hidden />

<script>
    function GetTindakanPerbaikanPV() {
        var dictlist = {
            NoCAPA: $('#input_NoCAPA').val(),
            Option: 4,
            NIK: $('#input_NIK').val()
        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#Tbl_Perbaikan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "info" : false,
                    "searching": false,
                    "paging": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "WhyID" },
                        { "data": "WhyParentID" },
                        { "data": "WhyDesc" },
                        { "data": "Tindakan_Perbaikan" },
                        { "data": "Nama_Personil" },
                        { "data": "Due_Date" }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false
                        },
                        {
                            "targets": [1],
                            "visible": false
                        }
                    ],
                    "order": [[1, 'asc']],
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    $(document).ready(function () {
        GetTindakanPerbaikanPV();
    });
</script>