<link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tindakan Pencegahan</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered zero-configuration display" style="color: black;flex-wrap: wrap; width: 1084px" id="Tbl_Pencegahan">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Root Cause</th>
                        <th>Area Lain</th>
                        <th>Tindakan Pencegahan</th>
                        <th>Nama Pelaksana</th>
                        <th>Superior</th>
                        <th>Due_Date</th>
                        <th>Action</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Hidden Input*@
<input class="form-control form-control-sm" type="text" id="input_NIK" value="@Request.RequestContext.HttpContext.Session["NIK"]" hidden />

<script src="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.js" defer nonce="SX5FbJbrRWLQDpleawzT6xH6FSyzRcE-kA"></script>

<script nonce="5130hY68Jo4GOf3Hb9ZoLu4HxNtG7_sZtg">
    var isHide = false;
    var queryStatus = ('@string.IsNullOrEmpty(Request.QueryString.Get("StatsID"))' == "True") ? ("") : ('@Request.QueryString.Get("StatsID")');
    function GetTindakanPencegahanPV() {
        var dictlist = {
            NoCAPA: $('#input_NoCAPA').val(),
            Option: 3,
            NIK: (queryStatus == 3) ? ('@Request.RequestContext.HttpContext.Session["NIK"]') : ("")
        }

        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //console.log(data);
                var table = $('#Tbl_Pencegahan').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "autoWidth": false,
                    "info": false,
                    "searching": false,
                    "paging": false,
                    "data": JSON.parse(data),
                    "select": true,
                    "scrollCollapse": true,
                    "destroy": true,
                    "columns": [
                        { "data": "RecordID" },
                        { "data": "WhyID" },
                        { "data": "WhyParentID" },
                        { "data": "WhyDesc" },
                        { "data": "AreaLain" },
                        { "data": "Tindakan_Pencegahan" },
                        { "data": "Nama_Personil" },
                        { "data": "SupApprover" },
                        { "data": "Due_Date" },
                        {
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger delete' type='button' name='delete'>Delete</button> ",
                            "visible": (!isHide) ? (true) : (false)
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '<span><a><i class="fa fa-eye" aria-hidden="true"></i></a></span>',
                            "className": "details text-center",
                            "visible": (!isDetail) ? (true) : (false)
                        }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false
                        },
                        {
                            "targets": [1],
                            "visible": false
                        },
                        {
                            "targets": [2],
                            "visible": false
                        }
                    ],
                    "order": [[1, 'asc']],
                })

                table.on('order.dt search.dt', function () {
                    table.column(2, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
                showChildPencegahan(table);
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function DeleteTindakanPencegahanPV() {
        $(document).on("click", "#Tbl_Pencegahan button.delete", function () {
            var rows = $(this).closest('tr');
            var data = $('#Tbl_Pencegahan').DataTable().row(rows).data();

            var dictlist = {
                NoCAPA: $('#input_NoCAPA').val(),
                Option: 6,
                RecordID : data.RecordID
            }
            var dto1 = {
                Model: dictlist
            }
            Swal.fire({
                title: 'Apakah anda yakin?',
                text: "Action ini akan menghapus semua Tindakan Pencegahan yang dimiliki oleh Tindakan Perbaikan ini.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
                        type: 'post',
                        data: JSON.stringify(dto1),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var result = JSON.parse(data);
                            if (result[0].STATUS == "DELETED") {
                                Swal.fire({
                                    title: 'Success',
                                    text: 'Data berhasil di hapus.',
                                    showConfirmButton: false,
                                    timer: 2000,
                                    icon: 'success'
                                }).then((result) => {
                                    GetTindakanPerbaikanPV();
                                    GetTindakanPencegahanPV();
                                    retrieveData2();
                                    KajianResikoDDL();
                                });
                            } else {
                                Swal.fire({
                                    title: 'Failed',
                                    text: 'Mohon hapus Kajian Resiko yang berhubungan terlebih dahulu.',
                                    showConfirmButton: false,
                                    timer: 2000,
                                    icon: 'warning'
                                })
                            }

                        },
                        error: function (ex) {
                             console.log(JSON.stringify(ex))
                        }
                    });
                }
            });
        });

    }

    function GetLampiranPencegahanPV() { // dipanggil di view parent jika seperlunya saja
        var dictlist = {
            NoCAPA: $('#input_NoCAPA').val(),
            Option: 10
        }

        var dto1 = {
            Model: dictlist
        }

        var d = $.ajax({
            url: '../Koordinator/DynamicController?spname=SP_SHOW_Tindakan_PV',
            type: 'post',
            data: JSON.stringify(dto1),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            error: function (ex) {
                 console.log(JSON.stringify(ex))
            }
        });
        return JSON.parse(JSON.parse(d.responseText));
    }

    function formatPencegahan(d) {
        var html = '';
        $.each(objLampiran2, function (key, value) {
            if (value.ID_FK == d.RecordID) {
                return html += '<tr>' +
                    '<td>File Name :</td>' +
                    '<td><a href="https://portal.bintang7.com/CommonService/api/Download?path=' + value.ENCRYPT_PATH +'"  target="_blank"">' + value.FILE_NAME + '</a></td>' +
                    '</tr>';
            }
        });

        if (html == '') {
            html = '';
            html = '<tr>' +
                '<td>Tidak ada lampiran.</td>' +
                '</tr>';
        }

        var tableChild = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            html +
            '</table>';
        return tableChild;
    }

    function showChildPencegahan(t) {
        // Array to track the ids of the details displayed rows
        var detailRows = [];

        $('#Tbl_Pencegahan tbody').on('click', 'tr td a i.fa', function () {
            var tr = $(this).closest('tr');
            var trs = $(this).closest('tr td a i');
            var row = t.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                trs.removeClass('fa-eye-slash');
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice(idx, 1);
            }
            else {
                trs.addClass('fa-eye-slash');
                row.child(formatPencegahan(row.data())).show();
                // Add to the 'open' array
                if (idx === -1) {
                    detailRows.push(tr.attr('id'));
                }
            }
        });

        // On each draw, loop over the `detailRows` array and show any child rows
        t.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details').trigger('click');
            });
        });
    }

    var objLampiran2 = GetLampiranPencegahanPV();

    $(document).ready(function () {
        GetTindakanPencegahanPV();
        DeleteTindakanPencegahanPV();
    });
</script>