@using ReportViewerForMvc;
@{
    ViewBag.Title = "ReportAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="form-group">
        <div class="container-fluid">
            @*@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)*@
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <input id="nocapa" name="nocapa" class="form-control" type="text" value="@ViewBag.NoCAPA" hidden />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script nonce="p3VFpE7eTv-4FJgxFwOEMEG8C-ZkP8uJgA">
    $(document).ready(function () {
        var nocapa = $("#nocapa").val();
        /*            alert(nocapa);*/
        //ReportValidationCheck(nocapa);
    });
    function ReportValidationCheck(nocapa) {

        url = "../Report/WebFormCAPA.aspx?NoCAPA=" + nocapa;

        var myframe = document.getElementById("ifrmReportViewer");
        if (myframe !== null) {
            if (myframe.src) {
                myframe.src = url;
            }
            else if (myframe.contentWindow !== null && myframe.contentWindow.location !== null) {
                myframe.contentWindow.location = url;
            }
            else {
                myframe.setAttribute('src', url);
            }
        }
        return false;
    }
</script>

