
@{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Scripts/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Report</h4>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Tahun Permohonan CAPA<span style="color: red">*</span></label>
                                <select class="form-control select2" id="Tahun">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Bulan Permohonan CAPA<span style="color: red">*</span></label>
                                <select class="form-control select2" id="Bulan">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Kategori CAPA<span style="color: red">*</span></label>
                                <select class="form-control select2" id="Kategori">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Departemen<span style="color: red">*</span></label>
                                <select class="form-control select2" id="Departemen">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group-sm">
                            <div class="col-md-6">
                                <label class="m-t-20">Lokasi Site<span style="color: red">*</span></label>
                                <select class="form-control select2" id="Lokasi">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group-sm mt-3">
                            <div class="col-md-6">
                                <button class="btn btn-primary" id="Filter">Filter</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration" id="Tbl_reportdatatable">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>
                                        <th>Action</th>
                                        <th>REG_ID</th>
                                        <th>No_CAPA</th>
                                        <th>Kategori CAPA</th>
                                        <th>Deskripsi</th>
                                        <th>Koordinator</th>
                                        <th>Area PIC</th>
                                        <th>PIC</th>
                                        <th>Status</th>
                                        <th>Detail Status</th>

                                    </tr>
                                </thead>
                                <tbody id="Tbl_reportlist">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getDepartemen();
        getLokasi();
        getKategori();
        getTahun();
        getBulan();
        $('#Filter').click(function () {
            DataReporting();
        });
        
    })


    function DataReporting() {
        var dictlist = {
            Tahun: $('#Tahun').val(),
            Bulan: $('#Bulan').val(),
            Lokasi: $('#Lokasi').val(),
            Departemen: $('#Departemen').val(),
            Kategori: $('#Kategori').val()
        }

        var dto1 = {
            Model: dictlist
        }
        console.log($('#Bulan').val());
        console.log($('#Tahun').val());
        console.log($('#Lokasi').val());
        console.log($('#Departemen').val());
        console.log($('#Kategori').val());
        $.ajax({
            url: "DynamicController?spname=SP_SHOW_REPORTING",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var table = $('#Tbl_reportdatatable').DataTable({
                    "pageLength": 10,
                    "lengthChange": true,
                    "paging": true,
                    "info": false,
                    "searching": true,
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "data": JSON.parse(data),
                    "columns": [
                        { "data": "RecordID" },
                        {
                            "data": null,
                            "defaultContent": "<input type='button' class='btn btn-primary' onclick=Print(this) value='Print' style='background-color:green; '/>"
                        },
                        { "data": "REG_ID" },
                        { "data": "NO_CAPA" },
                        { "data": "KATEGORI_CAPA" },
                        { "data": "DESKRIPSI_MASALAH" },
                        { "data": "Koordinator" },
                        { "data": "AREA_PIC" },
                        { "data": "PIC_CAPA" },
                        { "data": "StatusCAPA" },
                        { "data": "STATUS_DESKRIPSI" }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": false
                        }],
                    "order": [[1, 'asc']]

                });
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });
    }

    function Print(button) {
        var row = $(button).closest("TR");

        var data = $('#Tbl_reportdatatable').DataTable().row(row).data();
        var NoCAPA = data['NO_CAPA'];

        window.open("../ReportCAPA/ReportAll?NoCAPA=" + NoCAPA)

    }

    function getDepartemen() {
        var dictlist = {
            Option: "Departemen"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var result = JSON.parse(data);
                $('#Departemen').empty();

                
                var all = "";
                for (var i = 0; i < result.length; i++) {
                    if (i == 0) {
                        all += result[i].Org_Group_Name;
                    }
                    else {
                        all += ',' + result[i].Org_Group_Name;
                    }
                }
                $('#Departemen').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');

                $('#Departemen').append(new Option("All", all));
                for (var i = 0; i < result.length; i++) {
                    $('#Departemen').append(new Option(result[i].Org_Group_Name, result[i].Org_Group_Name));
                }

                getLokasi();
            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }



    function getLokasi() {
        var dictlist = {
            Option: "Lokasi"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                $('#Lokasi').empty();
                $('#Lokasi').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                var all = "";
                for (var i = 0; i < result.length; i++) {
                    if (i == 0) {
                        all += result[i].DDL_DESCRIPTION;
                    }
                    else {
                        all += ',' + result[i].DDL_DESCRIPTION;
                    }
                }
                $('#Lokasi').append(new Option("All", all));
                for (var i = 0; i < result.length; i++) {
                    $('#Lokasi').append(new Option(result[i].DDL_DESCRIPTION, result[i].DDL_DESCRIPTION));
                }

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }


    function getTahun() {
        var date = new Date();
        $('#Tahun').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
        var all = "";
        for (var i = 2021; i <= date.getFullYear(); i++) {
            if (i == 2021) {
                all += '' + i+'';
            }
            else {
                all += ',' + '' + i + '';
            }
        }
        $('#Tahun').append(new Option("All", all));
        for (var i = 2021; i <= date.getFullYear(); i++) {

            $('#Tahun').append(new Option(i, i));
        }


    }
    function getBulan() {
        var date = new Date();
        var bulan = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        $('#Bulan').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
        var all = "";
        for (var i = 1; i <= 12; i++) {
            if (i == 1) {
                all += '' + i + '';
            }
            else {
                all += ',' + '' + i + '';
            }
        }
        $('#Bulan').append(new Option("All", all));
      
        for (var i = 0; i < 12; i++) {

            $('#Bulan').append(new Option(bulan[i], i + 1));
        }


    }


    function getKategori() {
        var dictlist = {
            Option: "Kategori"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var result = JSON.parse(data);
                $('#Kategori').empty();

                $('#Kategori').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                var all = "";
                for (var i = 0; i < result.length; i++) {
                    if (i == 0) {
                        all += result[i].DDL_DESCRIPTION;
                    }
                    else {
                        all += ',' + result[i].DDL_DESCRIPTION;
                    }
                }
                $('#Kategori').append(new Option("All", all));
                for (var i = 0; i < result.length; i++) {
                    $('#Kategori').append(new Option(result[i].DDL_DESCRIPTION, result[i].DDL_DESCRIPTION));
                }

            }, error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }

</script>
<script src="~/Content/Scripts/plugins/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/Content/Scripts/plugins/jquery/jquery.min.js"></script>

