
@{
    ViewBag.Title = "ReportMasterlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Report Masterlist</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <style>
        .dtr-title {
            font-weight: bold;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Report Masterlist</h4>
                        <form>
                            <div class="row form-group-sm">
                                <div class="col-md-6">
                                    <label class="m-t-20">Status CAPA<span style="color: red">*</span></label>
                                    <select class="form-control select2" id="Status" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group-sm">
                                <div class="col-md-6">
                                    <label class="m-t-20">Departemen PIC CAPA<span style="color: red">*</span></label>
                                    <select class="form-control select2" id="Departemen" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group-sm">
                                <div class="col-md-6">
                                    <label class="m-t-20">Kategori<span style="color: red">*</span></label>
                                    <select class="form-control select2" id="Kategori" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group-sm">
                                <div class="col-md-6">
                                    <label class="m-t-20">Kode CAPA<span style="color: red">*</span></label>
                                    <select class="form-control select2" id="Kode_CAPA" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group-sm">
                                <div class="col-md-6">
                                    <label class="m-t-20">Tahun<span style="color: red">*</span></label>
                                    <select class="form-control select2" id="Tahun" required="required">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group-sm">
                                <div class="col-md-6">
                                    <label class="m-t-20">Lokasi Site<span style="color: red">*</span></label>
                                    <select class="form-control select2" id="Lokasi" required="required" >
                                    </select>
                                </div>
                            </div>

                        </form>
                        <div class="row form-group-sm mt-3">
                            <div class="col-md-6">
                                <button class="btn btn-primary" id="Filter">Filter</button>
                            </div>
                        </div>
                        <div class="table-responsive">


                            <table class="table table-bordered " id="Tbl_Filter">
                                <thead>
                                    <tr>
                                        <th>Created Date</th>
                                        <th>No CAPA</th>
                                        <th>PIC CAPA</th>
                                        <th>Departemen</th>
                                        <th>Site</th>
                                        <th>Requestor CAPA</th>
                                        <th>Kategori CAPA</th>
                                        <th>Kode CAPA</th>
                                        <th>Deskripsi Masalah</th>
                                        <th>Kata Kunci</th>
                                        <th>Status</th>
                                        <th>Detail Status</th>
                                        <th>Outstanding</th>
                                        <th>Tanggal Closed </th>
                                        <th>Alasan Cancelled </th>
                                        <th>Tanggal Cancelled  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->

</div>
@*<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js" defer></script>*@
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" />
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js" defer></script>
<script src="~/Content/Scripts/plugins/block-ui/jquery.blockUI.js" defer></script>
<script nonce="d2Tg08SWFAEga1gSVNxD6A7aSr4DkNgDgg">

    $(document).ready(function () {

        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        getKodeCAPA();
        getTahun();
        $('#Filter').click(function () {
            Filter();
        });
    });
    function Filter() {
        $.blockUI();
        var dictlist = {
            Status: $('#Status').val(),
            Tahun: $('#Tahun').val(),
            Lokasi: $('#Lokasi').val(),
            Departemen: $('#Departemen').val(),
            Kode: $('#Kode_CAPA').val(),
            Kategori: $('#Kategori').val(),
            Option: "Filter",

        }
        var dto1 = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "post",
            dataType: "json",
            data: JSON.stringify(dto1),
            async: false,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(JSON.parse(data));
                $.unblockUI();
                var table = $('#Tbl_Filter').DataTable({
                    "pageLength": 10,
                    "lengthChange": true,
                    "paging": true,
                    "info": false,
                    "searching": false,
                    "select": true,
                    "bDestroy": true,
                    "dom": 'Bfrtip',
                    "ordering": false,
                    "buttons": [{
                        extend: 'excelHtml5',
                        text: 'Excel',
                        className: 'btn btn-primary'
                    }
                    ],
                    //"responsive": {
                    //    "details": {
                    //        "renderer": function (api, rowIdx, columns) {
                    //            var data = $.map(columns, function (col, i) {
                    //                return col.hidden ?
                    //                    '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                    //                    '<td>' + col.title + ':' + '</td> ' +
                    //                    '<td>' + col.data + '</td>' +
                    //                    '</tr>' :
                    //                    '';
                    //            }).join('');

                    //            return data ?
                    //                $('<table/>').append(data) :
                    //                false;
                    //        }
                    //    }
                    //},
                    "scrollCollapse": true,
                    "data": JSON.parse(data),
                    "columns": [
                        { "data": "Tanggal_Create" },
                        { "data": "NO_CAPA" },
                        { "data": "PIC_CAPA" },
                        { "data": "AREA_PIC" },
                        { "data": "LOKASI_CAPA" },
                        { "data": "EmpName" },
                        { "data": "KATEGORI_CAPA" },
                        { "data": "KODE_CAPA" },
                        { "data": "DESKRIPSI_MASALAH"}, 
                        { "data": "KATA_KUNCI" },
                        { "data": "STATUS_CAPA" },
                        { "data": "STATUS_DESKRIPSI" },
                        { "data": "PENDING_NAME" },
                        { "data": "Tanggal_Close" },
                        { "data": "CANCEL" },
                        { "data": "Tanggal_Cancel" },

                    ],
                    
                    //"columnDefs": [

                    //    { "responsivePriority": 1, "targets": 0 },
                    //    { "responsivePriority": 2, "targets": 1 },
                    //    { "responsivePriority": 3, "targets": 2 },
                    //    { "responsivePriority": 4, "targets": 3 },
                    //    { "responsivePriority": 5, "targets": 4 }
                    //],
                    "order": [[0, 'asc']],

                });
            },
            error: function (errormessage) {
                $('#divLoading').attr("hidden", true);
            }
        });

    }
    function getKodeCAPA() {
        var dictlist = {
            Option: "Kode CAPA"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                $('#Kode_CAPA').empty();
                var all = "";
              
                $('#Kode_CAPA').append(new Option("All", all));
                $('#Kode_CAPA').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');

                for (var i = 0; i < result.length; i++) {
                    $('#Kode_CAPA').append(new Option(result[i].Code_Desc, result[i].Code));
                }

                getDepartemen();
            }, error: function (ex) {
                console.log(JSON.stringify(ex))
            }
        });

    }
    function getDepartemen() {
        var dictlist = {
            Option: "Departemen"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var result = JSON.parse(data);
                $('#Departemen').empty();

                $('#Departemen').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                var all = "";
             
                $('#Departemen').append(new Option("All", all));
                for (var i = 0; i < result.length; i++) {
                    $('#Departemen').append(new Option(result[i].Org_Group_Name, result[i].Org_Group_Name));
                }

                getLokasi();
            }, error: function (ex) {
                console.log(JSON.stringify(ex))
            }
        });

    }


    function getLokasi() {
        var dictlist = {
            Option: "Lokasi"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var result = JSON.parse(data);
                $('#Lokasi').empty();
                $('#Lokasi').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
               
                for (var i = 0; i < result.length; i++) {
                    if (result[i].DDL_DESCRIPTION == 'ALL') {
                        $('#Lokasi').append(new Option('All', result[i].DDL_DESCRIPTION));
                    }
                    else {
                        $('#Lokasi').append(new Option(result[i].DDL_DESCRIPTION, result[i].DDL_DESCRIPTION));

                    }
                }

                getStatusCAPA();
            }, error: function (ex) {
                console.log(JSON.stringify(ex))
            }
        });

    }

    function getStatusCAPA() {
        var dictlist = {
            Option: "Status CAPA"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var result = JSON.parse(data);
                $('#Status').empty();
                $('#Status').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                var all = "";
                $('#Status').append(new Option("All", all));
                for (var i = 0; i < result.length; i++) {
                    $('#Status').append(new Option(result[i].STATUS_CAPA, result[i].STATUS_CAPA));
                }
                getKategori();
            }, error: function (ex) {
                console.log(JSON.stringify(ex))
            }
        });

    }

    function getTahun() {
        var date = new Date(); var all = "";
        $('#Tahun').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
        var all = "";
        $('#Tahun').append(new Option("All", all));
        for (var i = 2021; i <= date.getFullYear(); i++) {

            $('#Tahun').append(new Option(i, i));
        }


    }


    function getKategori() {
        var dictlist = {
            Option: "Kategori"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "DynamicController?spname=SP_Report",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                var result = JSON.parse(data);
                $('#Kategori').empty();
                var all = "";
                $('#Kategori').append('<option disabled selected hidden class="dropdown-header">--Please Select--</option>');
                $('#Kategori').append(new Option("All", all));
                for (var i = 0; i < result.length; i++) {
                    $('#Kategori').append(new Option(result[i].DDL_DESCRIPTION, result[i].DDL_DESCRIPTION));
                }

            }, error: function (ex) {
                console.log(JSON.stringify(ex))
            }
        });

    }


</script>
