<div class="card">
    <div class="card-body">
        <h4 class="card-title">Analisa Kondisi</h4>
        <div class="table-responsive">
            <table class="table table-bordered zero-configuration">
                <thead>
                    <tr>
                        <th>Aspect</th>
                        <th>WHAT SHOULD BE HAPPENED</th>
                        <th>WHAT ACTUALLY HAPPENED</th>
                        <th>OK/NOK</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Manusia</td>
                        <td>Example</td>
                        <td>Example</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Mesin</td>
                        <td>Example</td>
                        <td>Example</td>
                        <td>NOK</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" id="Div_PRCA">
    <div class="card-body">
        <h4 class="card-title">Potential Root Cause Analysis</h4>
        <div class="table-responsive">
            <table class="table table-bordered zero-configuration" id="tblPRCA">
                <thead>
                    <tr>
                        <th>Aspect</th>
                        <th>WHAT ACTUALLY HAPPENED</th>
                        <th>WHY</th>
                        <th>Index</th>
                    </tr>
                </thead>
                <tbody id="Tbl_PRCA">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        //GetRoot();
    });

    function GetRoot()
    {
        $.ajax({
            type: "POST",
            url: "GetRoot?NoCapa=CPA/SIA/HOF/MK/0921/009",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                var count = result.count;
                var thead = '';
                var k = 0;

                var column = [
                    { "data": "WAHType_FK" },
                    { "data": "WAHDESC" },
                    { "data": "WhyDescription" }
                ]

               

                var table = $('#tblPRCA').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "destroy": true,
                    "columns": [
                        { "data": "WAHType_FK" },
                        { "data": "AppsID_FK" },
                        { "data": "FieldName" },
                        { "data": "ValueField" },
                        
                        
                    ],
                    "render": function (data, type, row, meta) {
                        return '<a href="' + data + '">Download</a>';
                    },
                    "order": [[0, 'asc']],
                });
                table.on('order.dt search.dt', function () {
                    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            }
        });
    }

    


</script>