<div class="card">
    <div class="card-body">
        <h4 class="card-title">Analisa Kondisi</h4>
        <div class="table-responsive">
            <table class="table table-bordered zero-configuration">
                <thead>
                    <tr>
                        <th>Aspect</th>
                        <th>WHAT SHOULD BE HAPPENED</th>
                        <th>WHAT ACTUALLY HAPPENED</th>
                        <th>OK/NOK</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Manusia</td>
                        <td>Example</td>
                        <td>Example</td>
                        <td>OK</td>
                    </tr>
                    <tr>
                        <td>Mesin</td>
                        <td>Example</td>
                        <td>Example</td>
                        <td>NOK</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" id="Div_PRCA">
    <div class="card-body">
        <h4 class="card-title">Potential Root Cause Analysis</h4>
        <div class="table-responsive">
            <table class="table table-bordered zero-configuration">
                <thead>
                    <tr>
                        <th>Aspect</th>
                        <th>WHAT ACTUALLY HAPPENED</th>
                        <th>WHY</th>
                        <th>Index</th>
                    </tr>
                </thead>
                <tbody id="Tbl_PRCA">
                    <tr>
                        <td>Manusia</td>
                        <td>Example</td>
                        <td>WhyExample</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Mesin</td>
                        <td>Example</td>
                        <td>WhyExample</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
