<script src="https://unpkg.com/gojs/release/go-debug.js" defer></script>

<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<div class="card" id="Div_AnalisaKondisi">
    <div class="card-body">
        <h4 class="card-title">Analisa Kondisi</h4>
        <div class="table-responsive">
            <table class="table table-bordered zero-configuration" id="tblAnalisaKondisi">
                <thead>
                    <tr>
                        <th>Aspect</th>
                        <th>WHAT SHOULD BE HAPPENED</th>
                        <th>WHAT ACTUALLY HAPPENED</th>
                        <th>OK/NOK</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Potential Root Cause </h4>
        <div class="col-md-1">
            <input type="button" class="btn btn-primary" id="ShowDiag" data-toggle="modal" data-target="#Modal_Diag" data-backdrop="static" value="Show Diagram" />
        </div>
    </div>
</div>
<br />

<div class="modal fade" id="Modal_Diag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
            </div>
            <div class="modal-body">
                <label style="color:black"><b>Manusia</b></label>
                <div id="DiagManusia"
                     style="width:100%; height:300px; background-color: #DAE4E4;"></div>
                <br />

                <label style="color:black"><b>Material/Produk</b></label>
                <div id="DiagMaterial"
                     style="width:100%; height:300px; background-color: #DAE4E4;"></div>
                <br />

                <label style="color:black"><b>Lingkungan</b></label>
                <div id="DiagLingkungan"
                     style="width:100%; height:300px; background-color: #DAE4E4;"></div>
                <br />

                <label style="color:black"><b>Machine</b></label>
                <div id="DiagMesin"
                     style="width:100%; height:300px; background-color: #DAE4E4;"></div>
                <br />

                <label style="color:black"><b>Metode</b></label>
                <div id="DiagMetode"
                     style="width:100%; height:300px; background-color: #DAE4E4;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_Close_Diag">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetRootManusia();
        GetRootMaterial();
        GetRootLingkungan();
        GetRootMesin();
        GetRootMetode();
        GetAnalisaKondisi();
        $('#ShowDiag').click(function () {
            $('#Modal_Diag').attr("hidden", false);
        });

        $('#ShowAnalisa').click(function () {
            $('#Modal_Analisa').attr("hidden", false);
        });
    });

    function GetAnalisaKondisi() {
        $.ajax({
            type: "POST",
            url: "../Koordinator/GetAnalisa?NoCapa=" + $('#QS_NoCAPA').val() +"",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var table = $('#tblAnalisaKondisi').DataTable({
                    "pageLength": 5,
                    "lengthChange": false,
                    "searching": false,
                    "data": JSON.parse(data),
                    "destroy": true,
                    "columns": [
                        { "data": "WAHType" },
                        { "data": "WSBHDesc" },
                        { "data": "WAHDesc" },
                        { "data": "WAHStatus" },


                    ],
                    "order": [[0, 'asc']],
                });

            }
        });
    }
    function GetRootManusia() {

        $.ajax({
            type: "POST",
            url: "../Koordinator/GetRoot?NoCapa=" + $('#QS_NoCAPA').val() + "&Type=Manusia",
            dataType: 'json',
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                var $ = go.GraphObject.make;

                var myDiagram =
                    $(go.Diagram, "DiagManusia",
                        {
                            "undoManager.isEnabled": true,
                            contentAlignment: go.Spot.Center,
                            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                                { angle: 90, layerSpacing: 35 })
                        });

                //var node1 =
                //    $(go.Node, "Horizontal",
                //        { background: "#44CCFF" },
                //        $(go.TextBlock, "Manusia",
                //            {
                //                margin: 10, width: 75, height: 50, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                //                verticalAlignment: go.Spot.Center
                //            },
                //        )
                //    );
                //myDiagram.add(node1);

                myDiagram.nodeTemplate =
                    $(go.Node, "Auto",
                        { locationSpot: go.Spot.Center },

                        $(go.Shape, "Rectangle",
                            { fill: "white", stroke: "black" },
                        ),
                        //$(go.TextBlock, "Default Text",
                        //    {
                        //        margin: 10, width: 75, height: 25, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                        //        verticalAlignment: go.Spot.Center
                        //    },
                        //    new go.Binding("text", "type")),
                        $(go.TextBlock, "Default Text",
                            {
                                margin: 10, stroke: "black", font: "16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                                verticalAlignment: go.Spot.Center,
                                width: 350, isMultiline: true
                            },
                            new go.Binding("text", "desc"))
                    );

                myDiagram.model = new go.TreeModel(result);
            }
        });
    }
    function GetRootMaterial() {

        $.ajax({
            type: "POST",
            url: "../Koordinator/GetRoot?NoCapa=" + $('#QS_NoCAPA').val() + "&Type=Material/Produk",
            async: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                var $ = go.GraphObject.make;

                var myDiagram =
                    $(go.Diagram, "DiagMaterial",
                        {
                            "undoManager.isEnabled": true,
                            contentAlignment: go.Spot.Center,
                            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                                { angle: 90, layerSpacing: 35 })

                        });

                //var node1 =
                //    $(go.Node, "Horizontal",
                //        { background: "#44CCFF" },
                //        $(go.TextBlock, "Material",
                //            {
                //                margin: 10, width: 75, height: 50, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                //                verticalAlignment: go.Spot.Center
                //            },
                //        )
                //    );
                //myDiagram.add(node1);
                myDiagram.nodeTemplate =
                    $(go.Node, "Auto",
                        { locationSpot: go.Spot.Center },

                        $(go.Shape, "Rectangle",
                            { fill: "white", stroke: "black" },
                        ),
                        //$(go.TextBlock, "Default Text",
                        //    {
                        //        margin: 10, width: 75, height: 50, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                        //        verticalAlignment: go.Spot.Center
                        //    },
                        //    new go.Binding("text", "type")),
                        $(go.TextBlock, "Default Text",
                            {
                                margin: 10, stroke: "black", font: "16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                                verticalAlignment: go.Spot.Center,
                                width: 350, isMultiline: true
                            },
                            new go.Binding("text", "desc"))
                    );

                myDiagram.model = new go.TreeModel(result);
            }
        });
    }
    function GetRootLingkungan() {

        $.ajax({
            type: "POST",
            url: "../Koordinator/GetRoot?NoCapa=" + $('#QS_NoCAPA').val() + "&Type=Lingkungan",
            dataType: 'json',
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                var $ = go.GraphObject.make;

                var myDiagram =
                    $(go.Diagram, "DiagLingkungan",
                        {
                            "undoManager.isEnabled": true,
                            contentAlignment: go.Spot.Center,
                            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                                { angle: 90, layerSpacing: 35 })
                        });
                //var node1 =
                //    $(go.Node, "Horizontal",
                //        { background: "#44CCFF" },
                //        $(go.TextBlock, "Lingkungan",
                //            {
                //                margin: 10, width: 75, height: 50, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                //                verticalAlignment: go.Spot.Center
                //            },
                //        )
                //    );
                //myDiagram.add(node1);

                myDiagram.nodeTemplate =
                    $(go.Node, "Auto",
                        { locationSpot: go.Spot.Center },

                        $(go.Shape, "Rectangle",
                            { fill: "white", stroke: "black" },
                        ),
                        //$(go.TextBlock, "Default Text",
                        //    {
                        //        margin: 10, width: 75, height: 25, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                        //        verticalAlignment: go.Spot.Center
                        //    },
                        //    new go.Binding("text", "type")),
                        $(go.TextBlock, "Default Text",
                            {
                                margin: 10, stroke: "black", font: "16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                                verticalAlignment: go.Spot.Center,
                                width: 350, isMultiline: true
                            },
                            new go.Binding("text", "desc"))
                    );

                myDiagram.model = new go.TreeModel(result);
            }
        });
    }
    function GetRootMesin() {

        $.ajax({
            type: "POST",
            url: "../Koordinator/GetRoot?NoCapa=" + $('#QS_NoCAPA').val() + "&Type=Mesin",
            dataType: 'json',
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                var $ = go.GraphObject.make;

                var myDiagram =
                    $(go.Diagram, "DiagMesin",
                        {
                            "undoManager.isEnabled": true,
                            contentAlignment: go.Spot.Center,
                            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                                { angle: 90, layerSpacing: 35 })
                        });
                //var node1 =
                //    $(go.Node, "Horizontal",
                //        { background: "#44CCFF" },
                //        $(go.TextBlock, "Mesin",
                //            {
                //                margin: 10, width: 75, height: 50, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                //                verticalAlignment: go.Spot.Center
                //            },
                //        )
                //    );
                //myDiagram.add(node1);

                myDiagram.nodeTemplate =
                    $(go.Node, "Auto",
                        { locationSpot: go.Spot.Center },

                        $(go.Shape, "Rectangle",
                            { fill: "white", stroke: "black" },
                        ),
                        //$(go.TextBlock, "Default Text",
                        //    {
                        //        margin: 10, width: 75, height: 25, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                        //        verticalAlignment: go.Spot.Center
                        //    },
                        //    new go.Binding("text", "type")),
                        $(go.TextBlock, "Default Text",
                            {
                                margin: 10, stroke: "black", font: "16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                                verticalAlignment: go.Spot.Center,
                                width: 350, isMultiline: true
                            },
                            new go.Binding("text", "desc"))
                    );

                myDiagram.model = new go.TreeModel(result);
            }
        });
    }
    function GetRootMetode() {

        $.ajax({
            type: "POST",
            url: "../Koordinator/GetRoot?NoCapa=" + $('#QS_NoCAPA').val() + "&Type=Metode",
            dataType: 'json',
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                var $ = go.GraphObject.make;

                var myDiagram =
                    $(go.Diagram, "DiagMetode",
                        {
                            "undoManager.isEnabled": true,
                            contentAlignment: go.Spot.Center,
                            layout: $(go.TreeLayout, // specify a Diagram.layout that arranges trees
                                { angle: 90, layerSpacing: 35 })
                        });
                //var node1 =
                //    $(go.Node, "Horizontal",
                //        { background: "#44CCFF" },
                //        $(go.TextBlock, "Metode",
                //            {
                //                margin: 10, width: 75, height: 50, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                //                verticalAlignment: go.Spot.Center
                //            },
                //        )
                //    );
                //myDiagram.add(node1);

                myDiagram.nodeTemplate =
                    $(go.Node, "Auto",
                        { locationSpot: go.Spot.Center },

                        $(go.Shape, "Rectangle",
                            { fill: "white", stroke: "black" },
                        ),
                        //$(go.TextBlock, "Default Text",
                        //    {
                        //        margin: 10, width: 75, height: 25, stroke: "white", font: "bold 16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                        //        verticalAlignment: go.Spot.Center
                        //    },
                        //    new go.Binding("text", "type")),
                        $(go.TextBlock, "Default Text",
                            {
                                margin: 10, stroke: "black", font: "16px sans-serif", textAlign: "center", wrap: go.TextBlock.WrapFit,
                                verticalAlignment: go.Spot.Center,
                                width: 350, isMultiline: true
                            },
                            new go.Binding("text", "desc"))
                    );

                myDiagram.model = new go.TreeModel(result);
            }
        });
    }



</script>