<div class="card">
    <div class="card-body">
        <div class="row form-group-sm">
            <div class="col-md-6">
                <label class="m-t-20">Trigger CAPA<span style="color: red">*</span></label>
                <select class="form-control form-control-sm" id="Trigger_CAPA">
                    <option value="Oracle">ATB</option>
                    <option value="Oracle">PMTMS</option>
                    <option value="CCC">Kembalian Terkait Kualitas</option>
                </select>
            </div>
        </div>
        <div class="row form-group" id="Linked_Deviation">
            <div class="col-md-6">
                <label class="m-t-20">Penyimpangan Terkait</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#link_Deviation">Browse</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Generate Link">
                </div>
            </div>
        </div>
        <div class="row form-group" id="Linked_CCC">
            <div class="col-md-6">
                <label class="m-t-40">Keluhan Pelanggan Terkait</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#link_CCC">Browse</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Generate Link">
                </div>
            </div>
        </div>
        <div class="row form-group" id="Linked_Oracle">
            <div class="col-md-6">
                <label class="m-t-20">No. QC terkait ATB/PMTMS/FKM</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#link_Oracle">Browse</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Generate Link">
                </div>
            </div>
        </div>
    </div>
</div>
