

<style>
    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<div class="modal fade" id="link_CCC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-md-6">
                        <label for="TxtTahunCCC" class="col-form-label">Tahun:</label>
                        <div class="input-group">
                            <select class="form-control select2 TahunCCC" name="TahunCCC" id="Tahun_DDL" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TxtPlantCCC" class="col-form-label">Plant:</label>
                        <div class="input-group ">
                            <select class="form-control select2" id="Plant_DDL" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TxtKategoriCCC" class="col-form-label">Jenis Kategori:</label>
                        <div class="input-group">
                            <select class="form-control select2" id="JenisKategori_DDL" required>
                                <option value="JUSTIFIED">Justified</option>
                                <option value="UNJUSTIFIED">Unjustified</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TxtKeluhanCCC" class="col-form-label">Jenis Keluhan:</label>
                        <div class="input-group">
                            <select class="form-control select2" id="JenisKeluhan_DDL" required>
                                <option value="Quality">Quality</option>
                                <option value="Health">Health</option>
                                <option value="Promotion">Promotion</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-primary" id="btn_Search_CCC">Search</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration" id="Tbl_CCC">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>No CCC</th>
                                    <th>Nama Pelanggan</th>
                                    <th>Jenis Kategori</th>
                                    <th>Jenis Keluhan</th>
                                    <th>Deskripsi Singkat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_Close_CCC">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="link_Deviation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-md-6">
                        <label for="TxtTahunDeviation" class="col-form-label">Tahun:</label>
                        <div class="input-group">
                            <select class="form-control select2" name="TahunDeviation" id="Tahun_DDL_Deviaton" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TxtDepartemenDeviation" class="col-form-label">Departemen:</label>
                        <div class="input-group ">
                            <select class="form-control select2" id="DepartemenPelapor_DDL" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TxtKategoriDeviation" class="col-form-label">Kategori Penyimpangan:</label>
                        <div class="input-group">
                            <select class="form-control select2" id="KategoriPenyimpangan_DDL" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="TxtJenisPenyimpangan" class="col-form-label">Jenis Penyimpangan:</label>
                        <div class="input-group">
                            <select class="form-control select2" id="JenisPenyimpangan_DDL" required>
                                <option value="Yes">Terencana</option>
                                <option value="No">Tidak Terencana</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-primary" id="btn_Search_Deviation">Search</button>
                    </div>

                    <table id="tblDeviation" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>No Penyimpangan</th>
                                <th>Nama Pelapor</th>
                                <th>Kategori Penyimpangan</th>
                                <th>Jenis Penyimpangan</th>
                                <th>Deskripsi Singkat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_Close_Deviaton">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row form-group-sm">
            <div class="col-md-6">
                <label class="m-t-20">Trigger CAPA<span style="color: red">*</span></label>
                <select class="form-control form-control-sm" id="Trigger_CAPA">
                    <option value="Oracle">ATB</option>
                    <option value="Oracle">PMTMS</option>
                    <option value="CCC">Kembalian Terkait Kualitas</option>
                </select>
            </div>
        </div>
        <div class="row form-group" id="Linked_Deviation" hidden="hidden">
            <div class="col-md-6">
                <label class="m-t-20">Penyimpangan Terkait</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#link_Deviation" data-backdrop="static" data-keyboard="false">Browse</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Generate Link">
                </div>
            </div>
        </div>
        <div class="row form-group" id="Linked_CCC" hidden="hidden">
            <div class="col-md-6">
                <label class="m-t-40">Keluhan Pelanggan Terkait</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#link_CCC" data-backdrop="static" data-keyboard="false">Browse</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Generate Link">
                </div>
            </div>
        </div>
        <div class="row form-group-sm mb-2" id="Lampiran">
            <div class="col-md-6">
                <label class="m-t-20">Lampiran Terkait</label>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input id="TxtFileInput" type="file" name="LampiranTerkait" class="custom-file-input" multiple required">

                        <label id="TxtLampiranCount" class="custom-file-label"></label>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <input type="button" class="btn btn-primary" id="Submit" value="Upload"/>
    </div>
</div>



<script>

    $(document).ready(function () {
        getDDL();
        TahunDDL();
        DeleteDepartemen();

        $('#AreaPIC_DDL').select2();
        $('#PIC_DDL').select2();
        $('#Departemen_DDL').select2().append();

        $('#Trigger_CAPA').change(function () {
            clearHidden();
            if ($('#Trigger_CAPA').val() == "ORACLE") {
                $('#Linked_Oracle').prop('hidden', false);
            } else if ($('#Trigger_CAPA').val() == "CCC") {
                $('#Linked_CCC').prop('hidden', false);
            } else {
                $('#Linked_Deviation').prop('hidden', false);
            }
        });
        $('#TxtFileInput').change(function () {
            fileCount = this.files.length;
            var teks = (fileCount != 0) ? (fileCount + " Lampiran telah dipilih.") : ("");
            $('#TxtLampiranCount').text(teks);
        })
        $('#Submit').click(function () {
            Submit();
        });

        $('#btn_Add').click(function () {
            AddDepartemen();
            $('#VendorDiv').prop('hidden', true);
        });

        $('#btn_Close_CCC').click(function () {

            var Jsonobj = [];
            var status = false;
            var table = $('#Tbl_CCC').DataTable();
            for (var i = 1; i <= table.data().count(); i++) {

                var row = $("#Tbl_CCC tr").eq(i);
                var PenyimpanganID = $("TD", row).eq(1).html();
                var creator = "";
                // Mengecheck Checkbox apakah sudah di checklist
                if ($("TD", row).eq(0).find("input[type='checkbox']").prop('checked')) {
                    var item = {};
                    item["NoCapa"] = $('#QS_NoCAPA').val();
                    item["PenyimpanganID"] = PenyimpanganID;
                    item["Description"] = "CCC";
                    item["Creator"] = creator;
                    Jsonobj.push(item);
                    console.log(item);
                    status = true;
                }
            }
            if (status == true) {
                var dto = {
                    Penyimpangan: Jsonobj
                }
                $.ajax({
                    url: 'InsertAddAbleDeviation',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(dto),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        Swal.fire("Success!", "Transaction berhasil di Insert", "success");
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });

            }

        });

        $('#btn_Close_Deviaton').click(function () {
            var Jsonobj = [];
            var status = false;
            var table = $('#tblDeviation').DataTable();
            for (var i = 1; i <= table.data().count(); i++) {

                var row = $("#tblDeviation tr").eq(i);
                var PenyimpanganID = $("TD", row).eq(1).html();
                var creator = "";
                // Mengecheck Checkbox apakah sudah di checklist
                if ($("TD", row).eq(0).find("input[type='checkbox']").prop('checked')) {
                    var item = {};

                    item["NoCapa"] = $('#QS_NoCAPA').val();
                    item["PenyimpanganID"] = PenyimpanganID;
                    item["Description"] = "DEVIATION";
                    item["Creator"] = creator;
                    Jsonobj.push(item);
                    console.log(item);
                    status = true;
                }
            }
            if (status == true) {
                var dto = {
                    Penyimpangan: Jsonobj
                }
                $.ajax({
                    url: 'InsertAddAbleDeviation',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(dto),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        Swal.fire("Success!", "Transaction berhasil di Insert", "success");
                    },
                    error: function (ex) {
                        alert(JSON.stringify(ex));
                    }
                });

            }

        });

        $('#Lokasi_DDL').change(function () {
            var Location;

            if ($('#Lokasi_DDL').val() == 'CKG') {
                Location = 'Cikarang';
            } else if ($('#Lokasi_DDL').val() == 'HOF') {
                Location = 'Head Office';
            } else {
                Location = 'Pulogadung';
            }
            dto = {
                Option: 3,
                Departemen: $('#AreaPIC_DDL').val(),
                Lokasi: Location,
                SP: "[dbo].[SP_SHOW_DDL]"
            }

            $.ajax({
                url: 'GetDepartments',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    Option: 2,
                    Lokasi: Location,
                    SP: "[dbo].[SP_SHOW_DDL]"
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#Departemen_DDL').empty();
                    $('#Departemen_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                    $.each(JSON.parse(data), function (key, entry) {
                        $('#Departemen_DDL').append($('<option></option>').attr('value', entry.SubDept).text(entry.SubDept));
                        $('#DepartemenPelapor_DDL').append($('<option></option>').attr('value', entry.SubDeptCode).text(entry.SubDept));
                    })
                    $('#Departemen_DDL').append($('<option></option>').attr('value', 'Others').text('Others'));
                    $('#Departemen_DDL').select2();
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });

            //$.ajax({
            //    url: 'GetSupervisors',
            //    type: 'post',
            //    data: JSON.stringify(dto),
            //    dataType: 'json',
            //    contentType: 'application/json; charset=utf-8',
            //    success: function (data) {
            //        $('#PIC_DDL').empty();
            //        $.each(JSON.parse(data), function (key, entry) {
            //            $('#PIC_DDL').append($('<option></option>').attr('value', entry.EmpName).text(entry.EmpName));
            //        });

            //        if ($('#PIC_DDL').val() == null) {
            //            $('#PIC_DDL').append($('<option></option>').attr('value', '').text('None'));
            //        }

            //        $('#PIC_DDL').select2();
            //    },
            //    error: function (ex) {
            //        alert(JSON.stringify(ex));
            //    }
            //});
        });

        $('#AreaPIC_DDL').change(function () {
            var Location;
            $('#VendorDiv').prop('hidden', true);

            if ($('#Lokasi_DDL').val() == 'CKG') {
                Location = 'Cikarang';
            } else if ($('#Lokasi_DDL').val() == 'HOF') {
                Location = 'Head Office';
            } else {
                Location = 'Pulogadung';
            }
            dto = {
                Option: 3,
                Departemen: $('#AreaPIC_DDL').val(),
                Lokasi: Location,
                SP: "[dbo].[SP_SHOW_DDL]"
            }

            $.ajax({
                url: 'GetSupervisors',
                type: 'post',
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#PIC_DDL').empty();
                    if ($('#AreaPIC_DDL').val() != 'Others') {
                        $.each(JSON.parse(data), function (key, entry) {
                            $('#PIC_DDL').append(new Option(entry.EmpName, entry.EmpName));
                        });
                    } else {
                        $('#VendorDiv').prop('hidden', false);
                        $.each(JSON.parse(data), function (key, entry) {
                            $('#PIC_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                        });
                    }
                    if ($('#PIC_DDL').val() == null) {
                        $('#PIC_DDL').append($('<option></option>').attr('value', '').text('None'));
                    }

                    $('#PIC_DDL').select2();
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
            //_callback();
        });

        $('#btn_Search_Deviation').click(function () {
            dto = {
                Option: 1,
                NoCapa: $('#QS_NoCAPA').val(),
                Departemen: $('#DepartemenPelapor_DDL').val(),
                JenisPenyimpangan: $('#JenisPenyimpangan_DDL').val(),
                Kategori: $('#KategoriPenyimpangan_DDL').val(),
                Tahun: $('#Tahun_DDL_Deviaton').val()
            }
            $.ajax({
                type: "POST",
                url: "ShowAddAbleDeviation",
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    var table = $('#tblDeviation').DataTable({
                        "pageLength": 5,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(data),
                        "select": true,
                        "scrollCollapse": true,
                        "destroy": true,
                        "columns": [
                            {
                                "data": null,
                                "defaultContent": "<input type='checkbox'/>"
                            },
                            { "data": "DEVIATION_NO" },
                            { "data": "NAMA_PELOPOR" },
                            { "data": "DEVIATION_CATEGORY" },
                            { "data": "DEVIATION_TYPE" },
                            { "data": "KET_CATEGORY" }
                        ],
                        "order": [[1, 'asc']],
                        "columndefs": [
                            {
                                "targets": 0,
                                "classname": "text-center",
                                "width": "1%"
                            },
                            {
                                "targets": 1,
                                "classname": "text-center",
                                "width": "5%"
                            },
                            {
                                "targets": 2,
                                "classname": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 3,
                                "classname": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 4,
                                "classname": "text-center",
                                "width": "4%"
                            },
                            {
                                "targets": 5,
                                "classname": "text-left",
                                "width": "15%"
                            }
                        ]
                    });
                }
            });
        });

        $('#btn_Search_CCC').click(function () {

            dto = {
                Option: 2,
                NoCapa: $('#QS_NoCAPA').val(),
                JenisKeluhan: $('#JenisKeluhan_DDL').val(),
                Tahun: $('#Tahun_DDL').val(),
                Plant: $('#Plant_DDL').val(),
                Kategori: $('#JenisKategori_DDL').val()
            }

            $.ajax({
                type: "POST",
                url: "ShowAddAbleDeviation",
                data: JSON.stringify(dto),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    var table = $('#Tbl_CCC').DataTable({
                        "pageLength": 5,
                        "lengthChange": true,
                        "searching": false,
                        "data": JSON.parse(result),
                        "select": true,
                        "bDestroy": true,
                        "scrollCollapse": true,
                        "columns": [
                            {
                                "data": null,
                                "defaultContent": "<input class='selected' type='checkbox' name='type' onchange=''>"
                            },
                            { "data": "No_CCC" },
                            { "data": "Nama_Plgn" },
                            { "data": "Kategori" },
                            { "data": "Keluhan_Plgn" },
                            { "data": "StatusCCC" }
                        ],
                        "order": [[1, 'asc']],
                        "columnDefs": [
                            {
                                "targets": 0,
                                "className": "text-center",
                                "width": "1%"
                            },
                            {
                                "targets": 1,
                                "className": "text-center",
                                "width": "5%"
                            },
                            {
                                "targets": 2,
                                "className": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 3,
                                "className": "text-center",
                                "width": "6%"
                            },
                            {
                                "targets": 4,
                                "className": "text-center",
                                "width": "4%"
                            },
                            {
                                "targets": 5,
                                "className": "text-left",
                                "width": "15%"
                            }
                        ]
                    });
                }
            });
        });

        //checkbox Deviation
        var data = [];
        $(document).on("click", "#Tbl_Deviation input[name='type'][class='selected']", function () {
            if ($(this).prop('checked') == true) {
                var columns = $(this).closest('tr').find('td:eq(1)').text();
                var id = {};
                id.PENYIMPANGAN_ID = columns;
                data.push(id);
            }
            else {
                var columns = $(this).closest('tr').find('td:eq(1)').text();
                data.splice(data.findIndex(e => e.PENYIMPANGAN_ID === columns), 1);
            }
            $('#PenyimpanganNumber').val(JSON.stringify(data));
            if (data.length == 0)
                $('#TxtDeviation').val("Tidak ada data terkait yang dipilih.");
            else {
                $('#PenyimpanganTerkait').val("Yes");
                $('#TxtDeviation').val(data.length + " Data telah dipilih.");
            }

        });

        $(document).on("click", "#Tbl_CCC input[name='type'][class='selected']", function () {
            if ($(this).prop('checked') == true) {
                var columns = $(this).closest('tr').find('td:eq(1)').text();
                var id = {};
                id.PENYIMPANGAN_ID = columns;
                data.push(id);
            }
            else {
                var columns = $(this).closest('tr').find('td:eq(1)').text();
                data.splice(data.findIndex(e => e.PENYIMPANGAN_ID === columns), 1);
            }
            $('#PenyimpanganNumber').val(JSON.stringify(data));
            if (data.length == 0)
                $('#TxtCCC').val("Tidak ada data terkait yang dipilih.");
            else {
                $('#KeluhanTerkait').val("Yes");
                $('#TxtCCC').val(data.length + " Data telah dipilih.");
            }
        });



    });
    function getTableRow() {
        var DeptList = new Array();
        $("#Tbl_Departemen tr").each(function () {
            var row = $(this);
            var data = {};
            data.Departemen = row.find("td").eq(0).html();
            DeptList.push(data);
            $("#myObj").val(JSON.stringify(DeptList));
        });
    }
    function TahunDDL() {
        var years = new Date().getFullYear();
        for (var i = years; i >= 2018; i--) {
            $('#Tahun_DDL').append(new Option(i, i));
            $('#Tahun_DDL_Deviaton').append(new Option(i, i));
        }
    }

    function clearHidden() {
        $('#Linked_Oracle').prop('hidden', true);
        $('#Linked_CCC').prop('hidden', true);
        $('#Linked_Deviation').prop('hidden', true);
        $('#Linked_Renew').prop('hidden', true);
    }

    function getDDL() {
        $.ajax({
            url: 'GetKoordinatorDDL',
            type: 'post',
            data: JSON.stringify({
                Option: 1,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#Trigger_CAPA').empty();
                $('#Kategori_DDL').empty();
                $('#Lokasi_DDL').empty();
                $('#Trigger_CAPA').empty();
                $('#Trigger_CAPA').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $('#Kategori_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $('#Lokasi_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $.each(JSON.parse(data), function (key, entry) {
                    if (entry.DDL_TYPE == 'TRIGGER') {
                        $('#Trigger_CAPA').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                    }
                    if (entry.DDL_TYPE == 'KATEGORI') {
                        $('#Kategori_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                    }
                    if (entry.DDL_TYPE == 'LOKASI') {
                        $('#Lokasi_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                    }
                    $('#Trigger_CAPA').select2();
                    $('#Kategori_DDL').select2();
                    $('#Lokasi_DDL').select2();
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

        $.ajax({
            url: 'GetDepartments',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Option: 8,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#DepartemenPelapor_DDL').empty();
                $.each(JSON.parse(data), function (key, entry) {
                    $('#DepartemenPelapor_DDL').append($('<option></option>').attr('value', entry.SubDeptCode).text(entry.SubDept));
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

        $.ajax({
            url: 'GetKategoriPenyimpangan',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Option: 5,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#KategoriPenyimpangan_DDL').empty();
                //$('#KategoriPenyimpangan_DDL').append($('<option></option>').attr('value', '').text('*Pilih*'));
                $.each(JSON.parse(data), function (key, entry) {
                    $('#KategoriPenyimpangan_DDL').append($('<option></option>').attr('value', entry.DDL_CODE).text(entry.DDL_DESCRIPTION));
                })
                //$('#KategoriPenyimpangan_DDL').select2();
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

        $.ajax({
            url: 'GetPlantCCC',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                Option: 6,
                SP: "[dbo].[SP_SHOW_DDL]"
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#Plant_DDL').empty();
                $.each(JSON.parse(data), function (key, entry) {
                    $('#Plant_DDL').append($('<option></option>').attr('value', entry.PlantSC).text(entry.Plant));
                })
            },
            error: function (ex) {
                alert(JSON.stringify(ex));
            }
        });

    }
    function AddDepartemen() {
        var departemen = $('#Departemen_DDL').val();
        if (departemen.length > 0) {
            dto = {
                Departemen: departemen
            }

            $.ajax({
                url: 'AddDepartments',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(dto),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#List_Departemen').prop('hidden', false);
                    $("#Tbl_Departemen").empty();
                    $("#AreaPIC_DDL").empty().prop('disabled', false);
                    $("#PIC_DDL").empty().prop('disabled', false);
                    $('#AreaPIC_DDL').append($('<option></option>').attr('value', '').text('*Select Area PIC*'));
                    $.each(data, function (key, entry) {
                        $('#Tbl_Departemen').append($('<tr><td>' + entry.Departemen + '</td><td><button type="button" class="form-control-sm delete">Delete</button></td></tr>'));
                        $('#AreaPIC_DDL').append($('<option></option>').attr('value', entry.Departemen).text(entry.Departemen));
                        getTableRow();
                    })
                    //$('#AreaPIC_DDL').append($('<option></option>').attr('value', 'Others').text('Others'));
                    $('#AreaPIC_DDL').select2();
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        } else {
            Swal.fire(
                'Maaf',
                'Mohon dipilih kembali.',
                'warning'
            )
        }
    }


    function DeleteDepartemen() {
        $(document).on("click", "#Tbl_Departemen button.delete", function () {
            $('#VendorDiv').prop('hidden', true);
            var columns = $(this).closest('tr').find('td:eq(0)').text();
            dto = {
                Departemen: columns
            }
            $.ajax({
                url: 'DeleteDepartments',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(dto),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var Count = data.length;
                    $("#Tbl_Departemen").empty();
                    $("#AreaPIC_DDL").empty().prop('disabled', false);
                    $("#PIC_DDL").empty().prop('disabled', false);
                    $('#AreaPIC_DDL').append($('<option></option>').attr('value', '').text('*Select Area PIC*'));
                    if (Count > 0) {
                        $.each(data, function (key, entry) {
                            $('#Tbl_Departemen').append($('<tr><td>' + entry.Departemen + '</td><td><button type="button" class="form-control-sm delete">Delete</button></td></tr>'));
                            $('#AreaPIC_DDL').append($('<option></option>').attr('value', entry.Departemen).text(entry.Departemen));
                            getTableRow();
                        })
                    } else {
                        $('#List_Departemen').prop('hidden', true);
                    }
                    //$('#AreaPIC_DDL').append($('<option></option>').attr('value', 'Others').text('Others'));
                    $('#AreaPIC_DDL').select2();
                },
                error: function (ex) {
                    alert(JSON.stringify(ex));
                }
            });
        });
    }

    function Submit() {
        var formData = new FormData();
        var totalFiles = document.getElementById("TxtFileInput").files.length;
        if (totalFiles == 0 || totalFiles == undefined) {
            Swal.fire("Error!", "Silahkan Memilih File Attachment terlebih dahulu!", "error");
        }
        else {
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("TxtFileInput").files[i];
                formData.append("TxtFileInput", file);
                //formData.append("NoCAPA", $('#txtNoCAPA').val());
            }
            $.ajax({
                url: "InsertAttachment?NoCapa=" + $('#QS_NoCAPA').val() + "&spname=SP_Insert_Penyimpangan&Creator=&",
                type: "post",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {

                    Swal.fire("Success!", "Upload Berhasil!", "success");

                },
                error: function (errormessage) {
                    $('#divLoading').attr("hidden", true);
                }

            });
        }
       
    }




</script>